force-app/main/default/flows/Contractor_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Duplication_logic</name>
        <label>Duplication logic</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <actionName>AppointmentResourceDuplicationChecker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Appointment_resources_with_flags</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>AppointmentResource</name>
            <value>
                <elementReference>appointmentResources</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AppointmentResourceDuplicationChecker</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Generate_Invoice</name>
        <label>Generate Invoice</label>
        <locationX>314</locationX>
        <locationY>1898</locationY>
        <actionName>ContractorInvoiceInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>appResourceIds</name>
            <value>
                <elementReference>ResourceAppointmentIds</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContractorInvoiceInvocable</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Appointment_Resources</name>
        <label>Assign Appointment Resources</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>appointmentResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Ressources</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplication_logic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Appointment_ResourcesWitoutAccount</name>
        <label>Assign Appointment Resources</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>appointmentResources</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appointment_Ressources_without_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplication_logic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_resource_appointment_Ids</name>
        <label>Assign resource appointment Ids</label>
        <locationX>402</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>ResourceAppointmentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_selected_resources.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_selected_resources</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_service_appointment_Ids</name>
        <label>Assign service appointment Ids</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointmentIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_service_appointments.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_service_appointments</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Account_Selected</name>
        <label>Account Selected ?</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Appointment_Ressources_without_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesAccountSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Account.recordId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Appointment_Ressources</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_permission</name>
        <label>Has permission ?</label>
        <locationX>1238</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Permission_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Appointment_Resource_Manage_Validated_Records</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Account_filter</targetReference>
            </connector>
            <label>Has Permission Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contractor Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contractor Invoice</label>
    <loops>
        <name>Loop_through_selected_resources</name>
        <label>Loop through selected resources</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <collectionReference>Table.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_resource_appointment_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_service_appointments</name>
        <label>Loop through service appointments</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <collectionReference>ServiceAppointment</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_service_appointment_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Selected</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Appointment_Ressources</name>
        <label>Appointment Ressources with Account</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Appointment_Resources</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ServiceAppointmentIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Validated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TECH_Resource_Account_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Appointment_Resource__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>TECH_Resource_Name__c</queriedFields>
        <queriedFields>TECH_Duplicates__c</queriedFields>
        <queriedFields>TECH_Work_Type__c</queriedFields>
        <queriedFields>TECH_Resource_Account_Id__c</queriedFields>
        <queriedFields>TECH_Ressource_Account__c</queriedFields>
        <queriedFields>TECH_Service_Appointment__c</queriedFields>
        <queriedFields>All_Products__c</queriedFields>
        <queriedFields>Total__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>SA_Resource_Account_Id__c</queriedFields>
        <queriedFields>Account_Sage_ID__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Appointment_Ressources_without_Account</name>
        <label>Appointment Ressources without Account</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Appointment_ResourcesWitoutAccount</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Service_Appointment__c</field>
            <operator>In</operator>
            <value>
                <elementReference>ServiceAppointmentIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Validated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Invoiced__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Appointment_Resource__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_record_Type</name>
        <label>GET record Type</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ServiceAppointment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faulty_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ServiceAppointment</name>
        <label>Service Appointments</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_service_appointments</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_screen</targetReference>
        </faultConnector>
        <filterLogic>( 1 OR 2 ) AND ( 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>ActualStartTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ActualStartTime</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>From</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActualEndTime</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ActualEndTime</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>To</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_OrderRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GET_record_Type.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Account_filter</name>
        <label>Account filter</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GET_record_Type</targetReference>
        </connector>
        <fields>
            <name>Account_filter_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Account_filter_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>ServiceAppointment</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>$Label.Contractor_Invoice_Account</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_filter_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_filter_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>From</name>
                    <dataType>Date</dataType>
                    <fieldText>{!$Label.Contractor_Invoice_From}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Account_filter_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>To</name>
                    <dataType>Date</dataType>
                    <fieldText>{!$Label.Contractor_Invoice_To}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Resources_selection</name>
        <label>Resources selection</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_through_selected_resources</targetReference>
        </connector>
        <fields>
            <name>Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Appointment_Resource__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Appointment_resources_with_flags</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-58bd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Contractor_Invoice_Appointment_Resource}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Appointment Resource Number&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TECH_Service_Appointment__c&quot;,&quot;guid&quot;:&quot;column-5f8f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Contractor_Invoice_Service_Appointment}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;TECH Service Appointment&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;TECH_Resource_Name__c&quot;,&quot;guid&quot;:&quot;column-582e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Contractor_Invoice_Resource}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;TECH Resource Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;TECH_Ressource_Account__c&quot;,&quot;guid&quot;:&quot;column-b9d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;TECH Ressource Account&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;TECH_Work_Type__c&quot;,&quot;guid&quot;:&quot;column-13e9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Contractor_Invoice_Work_Type}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;TECH Work Type&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;All_Products__c&quot;,&quot;guid&quot;:&quot;column-fbb4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Contractor_Invoice_All_Products}&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:5,&quot;label&quot;:&quot;All Products&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Total__c&quot;,&quot;guid&quot;:&quot;column-8221&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Contractor_Invoice_Total}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Total&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-029d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TECH_Duplicates__c&quot;,&quot;guid&quot;:&quot;column-b2e1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:8,&quot;label&quot;:&quot;TECH_Duplicates&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Generate</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_permission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Faulty_screen</name>
        <label>Faulty screen</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <flowName>Screen_Flow_Faulty_Message</flowName>
        <inputAssignments>
            <name>errorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <transforms>
        <name>Appointment_resources_with_flags</name>
        <label>Appointment resources with flags</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Resources_selection</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Appointment_Resource__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Account_Sage_ID__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Duplication_logic[$EachItem].Account_Sage_ID__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>All_Products__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Duplication_logic[$EachItem].All_Products__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Total__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Duplication_logic[$EachItem].Total__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TECH_Resource_Account_Id__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Duplication_logic[$EachItem].TECH_Resource_Account_Id__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TECH_Resource_Name__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Duplication_logic[$EachItem].TECH_Resource_Name__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TECH_Ressource_Account__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Duplication_logic[$EachItem].TECH_Ressource_Account__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TECH_Service_Appointment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Duplication_logic[$EachItem].TECH_Service_Appointment__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TECH_Work_Type__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Duplication_logic[$EachItem].TECH_Work_Type__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF({!Duplication_logic[$EachItem].Description__c} = &quot;Red&quot; , &quot;‎‎ ‎ ‎ ‎ ‎ ‎‎ ‎ ‎ ‎ ‎  ‎ ‎ ‎ 🔴&quot; , IF({!Duplication_logic[$EachItem].Description__c} = &quot;Yellow&quot; , &quot;‎‎ ‎ ‎ ‎ ‎ ‎‎ ‎ ‎ ‎ ‎  ‎ ‎ ‎ 🟡&quot;,&quot;‎‎‎ ‎ ‎ ‎ ‎ ‎‎ ‎ ‎ ‎ ‎  ‎ ‎ ‎ 🟢&quot;))</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Duplication_logic[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TECH_Duplicates__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF({!Duplication_logic[$EachItem].Description__c} = &quot;Red&quot; ,
 {!$Label.Contractor_Invoice_FullDuplicate} + &quot; : &quot; +  {!Duplication_logic[$EachItem].TECH_Duplicates__c},
 IF({!Duplication_logic[$EachItem].Description__c} = &quot;Yellow&quot; ,
 {!$Label.Contractor_Invoice_PartialDuplicate} + &quot; : &quot; +  {!Duplication_logic[$EachItem].TECH_Duplicates__c}
,{!$Label.Contractor_Invoice_NoDuplicate}))</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Duplication_logic[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>appointmentResources</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Appointment_Resource__c</objectType>
    </variables>
    <variables>
        <name>ex</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Appointment_Resource__c</objectType>
    </variables>
    <variables>
        <name>ResourceAppointmentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointmentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
