force-app/main/default/flows/Ouverture_Fermeture_Val_Mar_Optimized.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Fetch_Geolocation_and_Calculate_Distance_Action</name>
        <label>Fetch Geolocation and Calculate Distance Action</label>
        <locationX>314</locationX>
        <locationY>5414</locationY>
        <actionName>GeocodingAndDistanceService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Extra_Distance</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>addressId</name>
            <value>
                <elementReference>get_account.Primary_Shipping_Address__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GeocodingAndDistanceService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>get_closing_capacities</name>
        <label>get closing capacities</label>
        <locationX>539</locationX>
        <locationY>4958</locationY>
        <actionName>CapacityFinderValmar</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Capacities_Available</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contractType</name>
            <value>
                <stringValue>Opening/Closing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>region</name>
            <value>
                <elementReference>get_account.Primary_Shipping_Address__r.Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeFermeture</name>
            <value>
                <elementReference>Closing_Duration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeOuverture</name>
            <value>
                <elementReference>Opening_Duration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeViderLaver</name>
            <value>
                <elementReference>Opening_Duration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>weekEnd</name>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workType</name>
            <value>
                <elementReference>list_selected_closing_sageid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CapacityFinderValmar</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AvailableClosingCapacityRecords</assignToReference>
            <name>availCapacities</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>capRegion</assignToReference>
            <name>capRegion</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AvailableClosingCapacityResult</assignToReference>
            <name>result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>closingWorkType</assignToReference>
            <name>workType</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>get_opening_capacities</name>
        <label>get opening capacities</label>
        <locationX>385</locationX>
        <locationY>4142</locationY>
        <actionName>CapacityFinderValmar</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GET_Opening_Capacity_Product</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contractType</name>
            <value>
                <stringValue>Opening/Closing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>region</name>
            <value>
                <elementReference>get_account.Primary_Shipping_Address__r.Region__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeFermeture</name>
            <value>
                <elementReference>Closing_Duration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeOuverture</name>
            <value>
                <elementReference>Opening_Duration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>timeViderLaver</name>
            <value>
                <elementReference>Opening_Duration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>weekEnd</name>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workType</name>
            <value>
                <elementReference>list_selected_opening_sageid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CapacityFinderValmar</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AvailableOpeningCapacityRecords</assignToReference>
            <name>availCapacities</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>capRegion</assignToReference>
            <name>capRegion</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>AvailableOpeningCapacityResult</assignToReference>
            <name>result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>openingWorkType</assignToReference>
            <name>workType</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Closing_Order_Items_To_Collection</name>
        <label>Add Closing Order Items To Collection</label>
        <locationX>894</locationX>
        <locationY>3434</locationY>
        <assignmentItems>
            <assignToReference>list_order_item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Closing_Base_Datatable.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_order_item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Closing_Extra_Optional_Datatable.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_selected_closing_sageid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Closing_Base_Datatable.firstSelectedRow.Sage_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_selected_closing_sageid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extra_Closing_Optional_Sage_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_selected_closing_sageid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extra_Closing_Required_Sage_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_order_item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Extra_Fermeture_Required</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Products_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opening_Order_Items_To_Collection</name>
        <label>Add Opening Order Items To Collection</label>
        <locationX>894</locationX>
        <locationY>2402</locationY>
        <assignmentItems>
            <assignToReference>list_order_item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opening_Base_Datatable.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_order_item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opening_Extra_Optional_Datatable.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_selected_opening_sageid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opening_Base_Datatable.firstSelectedRow.Sage_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_selected_opening_sageid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extra_Opening_Optional_Sage_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_selected_opening_sageid</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extra_Opening_Required_Sage_Ids</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>list_order_item</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Filter_Extra_Ouverture_Required</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>has_fermeture_asset</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Opening_pbe_to_collection</name>
        <label>Add Opening pbe to collection</label>
        <locationX>253</locationX>
        <locationY>4466</locationY>
        <assignmentItems>
            <assignToReference>openingCapacityCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GET_Opening_Capacity_Product</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>viderLaverProduct</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opening_Capacity_Product_to_Order_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_pbe_to_collection</name>
        <label>Add pbe to collection</label>
        <locationX>50</locationX>
        <locationY>5738</locationY>
        <assignmentItems>
            <assignToReference>distancePbeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Distance_Product</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Distance_Product_to_Order_Item</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Base_Fermeture</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Base Fermeture</label>
        <locationX>1180</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Extra_Fermeture_Required</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>InitialOrderItems</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Extra_Fermeture_Optional</targetReference>
        </connector>
        <formula>AND(TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Product_Type__c}) = &apos;Base&apos; , TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Location__c}) = &apos;Closing Val Mar&apos;)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Base_Ouverture</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Base Ouverture</label>
        <locationX>1180</locationX>
        <locationY>998</locationY>
        <assignNextValueToReference>currentItem_Filter_Extra_Fermeture_Required</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>InitialOrderItems</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Extra_Ouverture_Optional</targetReference>
        </connector>
        <formula>AND(TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Product_Type__c}) = &apos;Base&apos; , TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Location__c}) = &apos;Opening Val Mar&apos;)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Extra_Fermeture_Optional</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Extra Fermeture Optional</label>
        <locationX>1180</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>currentItem_Filter_Extra_Fermeture_Required</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>InitialOrderItems</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Extra_Fermeture_Required</targetReference>
        </connector>
        <formula>AND(
TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Product_Type__c}) = &apos;Extra&apos; ,
{!currentItem_Filter_Extra_Fermeture_Required.Product2.Val_Mar_Required__c} = false ,
TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Opening_Closing__c}) = &apos;Closing&apos;
)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Extra_Fermeture_Required</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Extra Fermeture Required</label>
        <locationX>1180</locationX>
        <locationY>1538</locationY>
        <assignNextValueToReference>currentItem_Filter_Extra_Fermeture_Required</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>InitialOrderItems</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>has_ouverture_asset</targetReference>
        </connector>
        <formula>AND(
TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Product_Type__c}) = &apos;Extra&apos; ,
{!currentItem_Filter_Extra_Fermeture_Required.Product2.Val_Mar_Required__c} = true ,
TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Opening_Closing__c}) = &apos;Closing&apos;
)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Extra_Ouverture_Optional</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Extra Ouverture Optional</label>
        <locationX>1180</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_Filter_Extra_Fermeture_Required</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>InitialOrderItems</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Extra_Ouverture_Required</targetReference>
        </connector>
        <formula>AND(
TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Product_Type__c}) = &apos;Extra&apos; ,
{!currentItem_Filter_Extra_Fermeture_Required.Product2.Val_Mar_Required__c} = false ,
TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Opening_Closing__c}) = &apos;Opening&apos;
)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Extra_Ouverture_Required</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Extra Ouverture Required</label>
        <locationX>1180</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Extra_Fermeture_Required</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>InitialOrderItems</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Base_Fermeture</targetReference>
        </connector>
        <formula>AND(
TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Product_Type__c}) = &apos;Extra&apos; ,
{!currentItem_Filter_Extra_Fermeture_Required.Product2.Val_Mar_Required__c} = true ,
TEXT({!currentItem_Filter_Extra_Fermeture_Required.Product2.Opening_Closing__c}) = &apos;Opening&apos;
)</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_work_type_products</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter work type products</label>
        <locationX>479</locationX>
        <locationY>6362</locationY>
        <assignNextValueToReference>currentItem_Filter_work_type_products</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>list_order_items_updated</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_work_type_products.UnitPrice</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>0.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>total_screen</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>sageid_bassin_deversoir_fermeture</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35536</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_bassin_deversoir_ouvrir</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35541</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_fermeture</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35538</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_fermeture_spa</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35537</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_instal_filet_mesh</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35533</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_instal_toile_hiver</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35534</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_lame_eau</name>
        <dataType>String</dataType>
        <value>
            <stringValue>77307</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_nage_sur_place</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35531</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_nettoyer_accutab</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35535</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_ouverture</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35539</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_ouverture_spa</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35544</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_pompe_supp</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35530</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_retrait_filet_mesh</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35543</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_retrait_toile_hiver</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35542</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_sac_sel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>92327</stringValue>
        </value>
    </constants>
    <constants>
        <name>sageid_vider_laver</name>
        <dataType>String</dataType>
        <value>
            <stringValue>35540</stringValue>
        </value>
    </constants>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Capacities_Available</name>
        <label>Capacities Available</label>
        <locationX>803</locationX>
        <locationY>5198</locationY>
        <defaultConnector>
            <targetReference>Capacities_Not_Available_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCapacitiesAvailable</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>capacityNotAvailable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capacity_Date_Result</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extra_Distance</name>
        <label>Extra Distance ?</label>
        <locationX>314</locationX>
        <locationY>5522</locationY>
        <defaultConnector>
            <targetReference>Late_Fees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesExtraDistance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Geolocation_and_Calculate_Distance_Action.distance</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Fetch_Geolocation_and_Calculate_Distance_Action.distance</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Distance_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fermeture2</name>
        <label>Fermeture ?</label>
        <locationX>803</locationX>
        <locationY>4850</locationY>
        <defaultConnector>
            <targetReference>Capacities_Available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>has_fermeture</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_closing_capacities</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Error</name>
        <label>Has Error</label>
        <locationX>633</locationX>
        <locationY>7010</locationY>
        <defaultConnector>
            <targetReference>Pay_Customer_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>integration_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Process_Shopify_Payment.errorMsg</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>API_Faulty_Screen</targetReference>
            </connector>
            <label>integration error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_ErrorCreateRecords</name>
        <label>Has Error</label>
        <locationX>479</locationX>
        <locationY>6686</locationY>
        <defaultConnector>
            <targetReference>Payment_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesErrorRecords</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMsg</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Faulty_Screen_with_Custom_msg</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_ErrorLateFee</name>
        <label>Has Error</label>
        <locationX>314</locationX>
        <locationY>6146</locationY>
        <defaultConnector>
            <targetReference>Calculate_Prices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesHasErrorLateFees</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>errorMsg</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Faulty_Screen_with_Custom_msg</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_fermeture_asset</name>
        <label>has fermeture asset</label>
        <locationX>1180</locationX>
        <locationY>2678</locationY>
        <defaultConnector>
            <targetReference>Products_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_has_fermeture_asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Filter_Base_Fermeture</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extra_Optional_Fermeture_Count</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_fermeture_decision</name>
        <label>has fermeture</label>
        <locationX>1026</locationX>
        <locationY>3110</locationY>
        <defaultConnector>
            <targetReference>Products_Selected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_has_fermeture_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>has_fermeture</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extra_Closing_Optional_Sage_Ids</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>has_ouverture_asset</name>
        <label>has ouverture asset</label>
        <locationX>1180</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>has_fermeture_asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_has_ouverture_asset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selected_asset.Ouverture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extra_Optional_Ouverture_Count</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ouverture2</name>
        <label>Ouverture ?</label>
        <locationX>803</locationX>
        <locationY>4034</locationY>
        <defaultConnector>
            <targetReference>Fermeture2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>has_ouverture</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_opening_capacities</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_found</name>
        <label>Product found ?</label>
        <locationX>385</locationX>
        <locationY>4358</locationY>
        <defaultConnector>
            <targetReference>Fermeture2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesFoundOpening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GET_Opening_Capacity_Product.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GET_Opening_Capacity_Product.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Vider Laver Val-Mar</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opening_pbe_to_collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Products_Selected</name>
        <label>Products Selected ?</label>
        <locationX>1180</locationX>
        <locationY>3710</locationY>
        <defaultConnector>
            <targetReference>No_Product_Selected_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesProductsSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>productsHaveBeenSelected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notice</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>selected_ouverture</name>
        <label>selected ouverture</label>
        <locationX>1026</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>has_fermeture_asset</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes_selected_ouverture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>has_ouverture</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Extra_Opening_Optional_Sage_Ids</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ShowClosingAvailableCapacities</name>
        <collectionReference>AvailableClosingCapacityRecords</collectionReference>
        <dataType>Date</dataType>
        <displayField>Week_Start__c</displayField>
        <object>Capacity__c</object>
        <valueField>Week_Start__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ShowOpeningAvailableCapacities</name>
        <collectionReference>AvailableOpeningCapacityRecords</collectionReference>
        <dataType>Date</dataType>
        <displayField>Week_Start__c</displayField>
        <object>Capacity__c</object>
        <valueField>Week_Start__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>asset_address</name>
        <dataType>String</dataType>
        <expression>{!selected_asset.Address__r.Address__Street__s} + &quot; &quot;  +
{!selected_asset.Address__r.Address__City__s} + &quot;, &quot; +
TEXT({!selected_asset.Address__r.Address__StateCode__s}) + &quot;, &quot; +
{!selected_asset.Address__r.Address__PostalCode__s}</expression>
    </formulas>
    <formulas>
        <name>capacityNotAvailable</name>
        <dataType>Boolean</dataType>
        <expression>OR(
  IF({!has_ouverture} = true , NOT({!AvailableOpeningCapacityResult}) , false),
  IF({!has_fermeture} = true , NOT({!AvailableClosingCapacityResult}) , false)
)</expression>
    </formulas>
    <formulas>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(
        NOT(ISBLANK({!openingWorkType.Name})),
        NOT(ISBLANK({!closingWorkType.Name}))
    ),
    {!closingWorkType.Name} &amp; &quot;   -   &quot; &amp; {!openingWorkType.Name},
    IF(
        NOT(ISBLANK({!openingWorkType.Name})),
        {!openingWorkType.Name},
        IF(
            NOT(ISBLANK({!closingWorkType.Name})),
            {!closingWorkType.Name},
            NULL
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>Closing_Duration</name>
        <dataType>Number</dataType>
        <expression>IF({!has_fermeture}, {!selected_asset.Temps_estime_fermeture__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>contactid</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.ContactId})</expression>
    </formulas>
    <formulas>
        <name>has_fermeture</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Closing_Base_Datatable.firstSelectedRow.Product2Id}))</expression>
    </formulas>
    <formulas>
        <name>has_ouverture</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Opening_Base_Datatable.firstSelectedRow.Product2Id}))</expression>
    </formulas>
    <formulas>
        <name>has_sac_de_sel_ouverture</name>
        <dataType>Boolean</dataType>
        <expression>{!selected_asset.Nombre_de_sacs_de_sel__c} != 0</expression>
    </formulas>
    <formulas>
        <name>Opening_Duration</name>
        <dataType>Number</dataType>
        <expression>IF({!has_ouverture}, {!selected_asset.Temps_estime_ouverture__c}, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>price_aliment_supp_fermeture</name>
        <dataType>Number</dataType>
        <expression>{!selected_asset.Nombre_alimentations_supplementaires__c} * {!pbe_alimentation_supp.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>price_lame_deau_fermeture</name>
        <dataType>Number</dataType>
        <expression>{!selected_asset.Nombre_de_lames_d_eau__c} * {!pbe_lame_deau.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>price_pompe_supp_fermeture</name>
        <dataType>Number</dataType>
        <expression>{!selected_asset.Nombre_pompes_supplementaires__c} * {!pbe_pompe_supp.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>price_sac_sel_ouverture</name>
        <dataType>Number</dataType>
        <expression>{!selected_asset.Nombre_de_sacs_de_sel__c} * {!pbe_sac_de_sel.UnitPrice}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>productsHaveBeenSelected</name>
        <dataType>Boolean</dataType>
        <expression>OR({!Opening_Base_Datatable.firstSelectedRow.Product2Id} &lt;&gt; Null , {!Closing_Base_Datatable.firstSelectedRow.Product2Id} &lt;&gt; Null )</expression>
    </formulas>
    <formulas>
        <name>region</name>
        <dataType>String</dataType>
        <expression>IF( OR ( TEXT({!get_account.Primary_Shipping_Address__r.Region__c}) = &apos;Montreal&apos; , TEXT({!get_account.Primary_Shipping_Address__r.Region__c}) = &apos;Montréal&apos;)  , &apos;Montreal&apos;,&apos;Quebec&apos;)</expression>
    </formulas>
    <formulas>
        <name>region_category</name>
        <dataType>String</dataType>
        <expression>IF({!capRegion} = &apos;Quebec&apos;, &apos;90093&apos;, &apos;90050&apos;)</expression>
    </formulas>
    <formulas>
        <name>temp_price_calc</name>
        <dataType>Currency</dataType>
        <expression>{!temp_unitprice_calc} * {!temp_quantity_calc}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>temps_fermeture</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>temps_vider_laver</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>time_ouverture</name>
        <dataType>Number</dataType>
        <expression>0</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>total</name>
        <dataType>Currency</dataType>
        <expression>{!total_order_price_ht} + {!total_tps} + {!total_tvq}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>total_tps</name>
        <dataType>Currency</dataType>
        <expression>{!total_order_price_ht} * 0.05</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>total_tvq</name>
        <dataType>Currency</dataType>
        <expression>{!total_order_price_ht} * 0.09975</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Ouverture Fermeture / Val Mar Optimized {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Ouverture Fermeture / Val Mar Optimized</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_account</name>
        <label>get account</label>
        <locationX>1180</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VAL_MAR_FERMETURE_ET_OUVERTURE_PISCINE_CREUS_E</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_contact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Primary_Shipping_Address__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>Cellphone__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_all_val_mar</name>
        <label>get all val mar</label>
        <locationX>1180</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Liste_Val_Mar_screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactid</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Product_ServiceType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Gunite</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ouverture__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Prix_fermeture__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>1180</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Phone</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_DETCAD_pricebook</name>
        <label>get DETCAD pricebook</label>
        <locationX>1180</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PriceBook_Entries</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sage_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DETCAD</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Distance_Product</name>
        <label>Get Distance Product</label>
        <locationX>50</locationX>
        <locationY>5630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_pbe_to_collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DETCAD_pricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Distance</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Opening_Capacity_Product</name>
        <label>GET Opening Capacity Product</label>
        <locationX>385</locationX>
        <locationY>4250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DETCAD_pricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>openingWorkType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PriceBook_Entries</name>
        <label>Get PriceBook Entries</label>
        <locationX>1180</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Products</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_DETCAD_pricebook.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Val_Mar_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>rollback_records</name>
        <label>rollback records</label>
        <locationX>2877</locationX>
        <locationY>350</locationY>
    </recordRollbacks>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Capacities_Not_Available_Screen</name>
        <label>Capacities Not Available Screen</label>
        <locationX>1293</locationX>
        <locationY>5306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>capacityNotAvailableMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;﻿{!$Label.not_available_capacity}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Capacity_Date_Result</name>
        <label>Capacity Date Result</label>
        <locationX>314</locationX>
        <locationY>5306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Fetch_Geolocation_and_Calculate_Distance_Action</targetReference>
        </connector>
        <fields>
            <name>select_service_date_text</name>
            <fieldText>&lt;p&gt;{!$Label.val_mar_select_dates}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date_Ouverture</name>
            <choiceReferences>ShowOpeningAvailableCapacities</choiceReferences>
            <dataType>Date</dataType>
            <fieldText>{!$Label.val_mar_opening_date}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>has_ouverture</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Date_Fermeture</name>
            <choiceReferences>ShowClosingAvailableCapacities</choiceReferences>
            <dataType>Date</dataType>
            <fieldText>{!$Label.val_mar_closing_date}</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>has_fermeture</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Choose_Date</name>
        <label>Choose Date</label>
        <locationX>803</locationX>
        <locationY>3926</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Ouverture2</targetReference>
        </connector>
        <fields>
            <name>select_date_text</name>
            <fieldText>&lt;p&gt;{!$Label.val_mar_select_date}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Date</name>
            <dataType>Date</dataType>
            <fieldText>{!$Label.val_mar_service_date}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Fermeture_Screen</name>
        <label>Fermeture Screen</label>
        <locationX>1026</locationX>
        <locationY>3002</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>has_fermeture_decision</targetReference>
        </connector>
        <fields>
            <name>Femeture_Title</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.val_mar_closing_title}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fermeture_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fermeture_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clauses_Fermeture</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.val_mar_closing_clauses}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Closing_Base_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Base_Fermeture</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-b285&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_description_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-d2d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_quantity_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-08eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_price_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>Filter_Base_Fermeture</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fermeture_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fermeture_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Closing_Extra_Optional_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Extra_Fermeture_Optional</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-483b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_description_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-0df8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_quantity_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-8071&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_price_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>Filter_Extra_Fermeture_Optional</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Closing_Base_Datatable.firstSelectedRow.Product2Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Extra_Optional_Fermeture_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Fermeture_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Fermeture_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Closing_Extra_Required_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Extra_Fermeture_Required</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-6802&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_description_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-493a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_quantity_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-996d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_price_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Closing_Base_Datatable.firstSelectedRow.Product2Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Extra_Required_Fermeture_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Liste_Val_Mar_screen</name>
        <label>Liste Val Mar screen</label>
        <locationX>1180</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_DETCAD_pricebook</targetReference>
        </connector>
        <fields>
            <name>list_valmar_description</name>
            <fieldText>&lt;p&gt;{!$Label.val_mar_select_products}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Liste_Val_Mar</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Asset</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.val_mar_product_list</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>get_all_val_mar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Brand__c&quot;,&quot;guid&quot;:&quot;column-2537&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_brand_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Brand&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Year__c&quot;,&quot;guid&quot;:&quot;column-bcbe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_year_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Year&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Size__c&quot;,&quot;guid&quot;:&quot;column-e50d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_size_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Size&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selected_asset</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Product_Selected_Screen</name>
        <label>No Product Selected Screen</label>
        <locationX>1557</locationX>
        <locationY>3818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>select_at_least_a_productMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!$Label.select_at_least_a_product}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Notice</name>
        <label>Notice</label>
        <locationX>803</locationX>
        <locationY>3818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Choose_Date</targetReference>
        </connector>
        <fields>
            <name>norice</name>
            <fieldText>&lt;p&gt;{!$Label.val_mar_notice_part_1}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.val_mar_notice_part_2}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.val_mar_notice_part_3}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>notice_note</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(140, 9, 9);&quot;&gt;{!$Label.val_mar_additional_fees_note}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>confirm_2</name>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.val_mar_confirm_conditions}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.opening_closing_please_confirm}&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!confirm_2}=true</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Ouverture_Screen</name>
        <label>Ouverture Screen</label>
        <locationX>1026</locationX>
        <locationY>1970</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>selected_ouverture</targetReference>
        </connector>
        <fields>
            <name>OUVERTURE_title</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.val_mar_opening_title}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ouverture_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ouverture_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clauses_Ouverture</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.val_mar_opening_clauses}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Opening_Base_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Base_Ouverture</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-b285&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_description_label}\t&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-d2d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_quantity_label}\t&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-08eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_price_label}\t&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>Filter_Base_Ouverture</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ouverture_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ouverture_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opening_Extra_Optional_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Extra_Ouverture_Optional</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-483b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_description_label}\t&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-0df8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_quantity_label}\t&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-8071&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_price_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRows</name>
                        <value>
                            <elementReference>Filter_Extra_Ouverture_Optional</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Opening_Base_Datatable.firstSelectedRow.Product2Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Extra_Optional_Ouverture_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Ouverture_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Ouverture_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opening_Extra_Required_Datatable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Filter_Extra_Ouverture_Required</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-ed00&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_description_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-3d52&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_quantity_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-444d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_price_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Opening_Base_Datatable.firstSelectedRow.Product2Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Extra_Required_Ouverture_Count</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pay_Customer_Screen</name>
        <label>Pay Customer Screen</label>
        <locationX>765</locationX>
        <locationY>7118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShopifyLwc</name>
            <extensionName>c:shopifyPaymentLWC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>redirectionUrl</name>
                <value>
                    <stringValue>External_Site_Redirect</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>paymentUrl</name>
                <value>
                    <elementReference>Process_Shopify_Payment.response.url</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_Screen</name>
        <label>Payment Screen</label>
        <locationX>633</locationX>
        <locationY>6794</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Process_Shopify_Payment</targetReference>
        </connector>
        <fields>
            <name>PAYMENT</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;﻿{!$Label.process_payment}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Process Payment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>total_screen</name>
        <label>total_screen</label>
        <locationX>479</locationX>
        <locationY>6470</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Records</targetReference>
        </connector>
        <fields>
            <name>total_screen_title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(56, 150, 228);&quot;&gt;{!$Label.val_mar_confirmation_of_information}  &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(1, 15, 27);&quot;&gt;{!$Label.val_mar_total_confirmation}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Commentaire</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.val_mar_comments}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>infor_compte_total_screen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.val_mar_account} &lt;/strong&gt;: {!get_account.Name}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.val_mar_contact}&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;: {!get_contact.Name}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.val_mar_email}&lt;/strong&gt; : {!get_contact.Email}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.val_mar_phone}&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;: {!get_contact.MobilePhone}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.val_mar_address}&lt;/strong&gt;&lt;strong&gt; &lt;/strong&gt;: {!asset_address}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.val_mar_product_type}&lt;/strong&gt; : Gunite&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.val_mar_service_summary}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_list_order_item_ouverture</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OrderItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>list_order_item_ouverture</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Filter_work_type_products</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-d6bd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_description_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;UnitPrice&quot;,&quot;guid&quot;:&quot;column-f8e8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_price_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Unit Price&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-3e77&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_quantity_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;TotalPrice&quot;,&quot;guid&quot;:&quot;column-71d4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.val_mar_total_price_label}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Total Price&quot;,&quot;type&quot;:&quot;currency&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>total_display</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;{!$Label.val_mar_amount_before_taxes} : {!total_order_price_ht}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;TPS (5 %) : {!total_tps}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;TVQ (9.975 %) : {!total_tvq}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: right;&quot;&gt;&lt;strong&gt;Total : {!total}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VAL_MAR_FERMETURE_ET_OUVERTURE_PISCINE_CREUS_E</name>
        <label>VAL-MAR - FERMETURE ET OUVERTURE - PISCINE CREUSÉE</label>
        <locationX>1180</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_all_val_mar</targetReference>
        </connector>
        <fields>
            <name>VAL_MAR_FERMETURE_ET_OUVERTURE_PISCINE_CREUS_E_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VAL_MAR_FERMETURE_ET_OUVERTURE_PISCINE_CREUS_E_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>first_screen_title</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(10, 160, 253); font-size: 16px;&quot;&gt;{!$Label.val_mar_title}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>screen1_text1</name>
                    <fieldText>&lt;h4&gt;&lt;strong&gt;{!$Label.Requested_Services_VM_Title} :&lt;/strong&gt;&lt;/h4&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Requested_Services_Text}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VAL_MAR_FERMETURE_ET_OUVERTURE_PISCINE_CREUS_E_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VAL_MAR_FERMETURE_ET_OUVERTURE_PISCINE_CREUS_E_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>screen1_text3</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(137, 7, 7);&quot;&gt;{!$Label.val_mar_warranty_damages}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>VAL_MAR_FERMETURE_ET_OUVERTURE_PISCINE_CREUS_E_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VAL_MAR_FERMETURE_ET_OUVERTURE_PISCINE_CREUS_E_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>confirm</name>
                    <dataType>Boolean</dataType>
                    <fieldText>{!$label.val_mar_confirm_conditions}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.opening_closing_please_confirm}&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!confirm} = true</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1054</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>Add_Distance_Product_to_Order_Item</name>
        <label>Add Distance Product to Order Item</label>
        <locationX>50</locationX>
        <locationY>5846</locationY>
        <connector>
            <targetReference>Late_Fees</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>list_order_item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>distancePbeCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>81748</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>list_order_item</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Add_Opening_Capacity_Product_to_Order_Item</name>
        <label>Add Opening Capacity Product to Order Item</label>
        <locationX>253</locationX>
        <locationY>4574</locationY>
        <connector>
            <targetReference>Fermeture2</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>isWorkType</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>list_order_item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>openingCapacityCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>list_order_item</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>API_Faulty_Screen</name>
        <label>API Faulty Screen</label>
        <locationX>501</locationX>
        <locationY>7118</locationY>
        <flowName>Screen_Flow_Faulty_Message</flowName>
        <inputAssignments>
            <name>errorMessage</name>
            <value>
                <elementReference>Process_Shopify_Payment.errorMsg</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Calculate_Prices</name>
        <label>Calculate Prices</label>
        <locationX>479</locationX>
        <locationY>6254</locationY>
        <connector>
            <targetReference>Filter_work_type_products</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_PriceCalculation_Subflow</flowName>
        <inputAssignments>
            <name>Date_Fermeture</name>
            <value>
                <elementReference>Date_Fermeture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Date_Ouverture</name>
            <value>
                <elementReference>Date_Ouverture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderItems</name>
            <value>
                <elementReference>list_order_item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>region_category</name>
            <value>
                <elementReference>region_category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>viderLaverProduct</name>
            <value>
                <elementReference>viderLaverProduct</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>list_order_items_updated</assignToReference>
            <name>list_order_items_updated</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>total_order_price_ht</assignToReference>
            <name>total_order_price_ht</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Records</name>
        <label>Create Records</label>
        <locationX>479</locationX>
        <locationY>6578</locationY>
        <connector>
            <targetReference>Has_ErrorCreateRecords</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_CreateRecords_Subflow</flowName>
        <inputAssignments>
            <name>Account</name>
            <value>
                <elementReference>get_account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Asset</name>
            <value>
                <elementReference>selected_asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>caseSubject</name>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Comments</name>
            <value>
                <elementReference>Commentaire</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>get_contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>locationId</name>
            <value>
                <elementReference>Fetch_Geolocation_and_Calculate_Distance_Action.nearestLocationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>orderItems</name>
            <value>
                <elementReference>list_order_items_updated</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookId</name>
            <value>
                <elementReference>get_DETCAD_pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>totalAmount</name>
            <value>
                <elementReference>total_order_price_ht</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>errorMsg</assignToReference>
            <name>errorMsg</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>orderId</assignToReference>
            <name>orderId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>updatedOrder</assignToReference>
            <name>updatedOrder</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Faulty_Screen</name>
        <label>Faulty Screen</label>
        <locationX>2877</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>rollback_records</targetReference>
        </connector>
        <flowName>Screen_Flow_Faulty_Message</flowName>
        <inputAssignments>
            <name>errorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Faulty_Screen_with_Custom_msg</name>
        <label>Faulty Screen with Custom msg</label>
        <locationX>314</locationX>
        <locationY>7586</locationY>
        <flowName>Screen_Flow_Faulty_Message</flowName>
        <inputAssignments>
            <name>errorMessage</name>
            <value>
                <elementReference>errorMsg</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Products</name>
        <label>Get Products</label>
        <locationX>1180</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Filter_Base_Ouverture</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_GetProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>selected_asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>Get_PriceBook_Entries</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>InitialOrderItems</assignToReference>
            <name>OrderItems</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Late_Fees</name>
        <label>Late Fees</label>
        <locationX>314</locationX>
        <locationY>6038</locationY>
        <connector>
            <targetReference>Has_ErrorLateFee</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_LateFees_Subflow</flowName>
        <inputAssignments>
            <name>allOrderItems</name>
            <value>
                <elementReference>list_order_item</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>closingDate</name>
            <value>
                <elementReference>Date_Fermeture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>openingDate</name>
            <value>
                <elementReference>Date_Ouverture</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookId</name>
            <value>
                <elementReference>get_DETCAD_pricebook.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>region</name>
            <value>
                <elementReference>capRegion</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>list_order_item</assignToReference>
            <name>allOrderItems</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>errorMsg</assignToReference>
            <name>errorMsg</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Process_Shopify_Payment</name>
        <label>Process Shopify Payment</label>
        <locationX>633</locationX>
        <locationY>6902</locationY>
        <connector>
            <targetReference>Has_Error</targetReference>
        </connector>
        <flowName>Shopify_Payment_API</flowName>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>updatedOrder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentType</name>
            <value>
                <stringValue>OC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sendEmail</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>successStatus</name>
            <value>
                <stringValue>To intervene</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>transactionType</name>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <transforms>
        <name>Extra_Closing_Optional_Sage_Ids</name>
        <label>Extra Closing Optional Sage Ids</label>
        <locationX>894</locationX>
        <locationY>3218</locationY>
        <connector>
            <targetReference>Extra_Closing_Required_Sage_Ids</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Closing_Extra_Optional_Datatable.selectedRows[$EachItem].Sage_ID__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Extra_Closing_Required_Sage_Ids</name>
        <label>Extra Closing Required Sage Ids</label>
        <locationX>894</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>Add_Closing_Order_Items_To_Collection</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Filter_Extra_Fermeture_Required[$EachItem].Sage_ID__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Extra_Opening_Optional_Sage_Ids</name>
        <label>Extra Opening Optional Sage Ids</label>
        <locationX>894</locationX>
        <locationY>2186</locationY>
        <connector>
            <targetReference>Extra_Opening_Required_Sage_Ids</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Opening_Extra_Optional_Datatable.selectedRows[$EachItem].Sage_ID__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Extra_Opening_Required_Sage_Ids</name>
        <label>Extra Opening Required Sage Ids</label>
        <locationX>894</locationX>
        <locationY>2294</locationY>
        <connector>
            <targetReference>Add_Opening_Order_Items_To_Collection</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Filter_Extra_Ouverture_Required[$EachItem].Sage_ID__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Extra_Optional_Fermeture_Count</name>
        <label>Extra Optional Fermeture Count</label>
        <locationX>1026</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Extra_Required_Fermeture_Count</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Extra_Fermeture_Optional</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Extra_Optional_Ouverture_Count</name>
        <label>Extra Optional Ouverture Count</label>
        <locationX>1026</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Extra_Required_Ouverture_Count</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Extra_Ouverture_Optional</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Extra_Required_Fermeture_Count</name>
        <label>Extra Required Fermeture Count</label>
        <locationX>1026</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Fermeture_Screen</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Extra_Fermeture_Required</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Extra_Required_Ouverture_Count</name>
        <label>Extra Required Ouverture Count</label>
        <locationX>1026</locationX>
        <locationY>1862</locationY>
        <connector>
            <targetReference>Ouverture_Screen</targetReference>
        </connector>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Extra_Ouverture_Required</elementReference>
                    </value>
                </inputParameters>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>allPricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>AvailableClosingCapacityRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Capacity__c</objectType>
    </variables>
    <variables>
        <name>AvailableClosingCapacityResult</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AvailableOpeningCapacityRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Capacity__c</objectType>
    </variables>
    <variables>
        <name>AvailableOpeningCapacityResult</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>capRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>closingCapacityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>closingWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>created_order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Extra_Fermeture_Required</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_work_type_products</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>distancePbeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>final_list_order_item</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>InitialOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>list_order_item</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>list_order_items_updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>list_product_valmar_id</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>list_productID_val_mar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>list_selected_closing_sageid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>list_selected_opening_sageid</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>openingCapacityCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>openingWorkType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkType</objectType>
    </variables>
    <variables>
        <name>order_alimentation_supp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_bassin_deversoir</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_bassin_deversoir_ouvrir</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_fermeture</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_fermeture_spa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_installation_filet_mesh</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_installation_toile_hiver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_lame_deau</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_nage_sur_place</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_nettoyer_accutab</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_ouverture</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_ouverture_spa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_pompe_supp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_retrait_filet_mesh</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_retrait_toile_hiver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_sac_de_sel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>order_vider_laver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>pbe_alimentation_supp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_bassin_deversoir</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_bassin_deversoir_ouvrir</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_fermeture</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_fermeture_spa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_installation_filet_mesh</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_installation_toile_hiver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_lame_deau</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_nage_sur_place</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_nettoyer_accutab</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_ouverture</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_ouverture_spa</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_pompe_supp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_retrait_filet_mesh</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_retrait_toile_hiver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_sac_de_sel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pbe_vider_laver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>productID_valmar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productIds_InCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selected_asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>temp_quantity_calc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>temp_unitprice_calc</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>total_order_price_ht</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>updatedOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>user_language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.LanguageLocaleKey</elementReference>
        </value>
    </variables>
    <variables>
        <name>var_sage_ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>viderLaverProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
