force-app/main/default/flows/Ouverture_Fermeture_Val_Mar_GetProducts_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Alimentations_supp</name>
        <label>Alimentations supp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Bassin_deversoir_fermeture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesAlimentations_supp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Nombre_alimentations_supplementaires__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Alimentations_supp_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Baisser_le_niveau_d_eau</name>
        <label>Baisser le niveau d&apos;eau</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pompe_Suplementaire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesBaisserNiveauEau</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Lower_water_level_closing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Baisser_le_niveau_d_eau_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bassin_deversoir_fermeture</name>
        <label>Bassin deversoir Fermeture</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Fermeture_Spa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesBassin_deversoir</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Bassin_deversoir_a_fermer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bassin_deversoir_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bassin_Deversoir_ouverture</name>
        <label>Bassin Deversoir Ouverture</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Fermeture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesdeversoirOuvrur</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Bassin_deversoir_a_ouvrir__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Bassin_Deversoir_Ouverture_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fermeture_Spa</name>
        <label>Fermeture Spa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesFermeture_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.SPA_a_fermer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fermeture_SPA_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Fermeture</name>
        <label>Has Fermeture</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHas_Fermeture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Prix_fermeture__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fermeture_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Ouverture</name>
        <label>Has Ouverture</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Has_Fermeture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasOuverture</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Ouverture__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ouverture_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Installation_Filet</name>
        <label>Installation Filet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Installation_Toile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesInstallation_Filet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Installer_filet_meche__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installer_Filet_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Installation_Toile</name>
        <label>Installation Toile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Nettoyer_Accutab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesInstallation_Toile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Installer_toile_d_hiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Installation_Toile_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nage_Sur_Place</name>
        <label>Nage Sur Place</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Alimentations_supp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesNage_Sur_Place</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Nage_sur_place__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Nage_Sur_Place_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nettoyer_Accutab</name>
        <label>Nettoyer Accutabe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Water_Blades</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesNettoyer_Accutab</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Nettoyer_Accutab__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Nettoyer_Accutab_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Ouverture_Spa</name>
        <label>Ouverture Spa</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Bassin_Deversoir_ouverture</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOuverture_Spa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.SPA_a_ouvrir__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Ouverture_SPA_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pompe_Suplementaire</name>
        <label>Pompe Suplementaire</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Installation_Filet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesPompeSupp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Nombre_pompes_supplementaires__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>asset.Nombre_pompes_supplementaires__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pompe_Sup_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Retrait_Filet</name>
        <label>Retrait Filet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Toile_Hiver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesRetraitFilet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Retirer_filet__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Retrait_Filet_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Salt_Bags</name>
        <label>Salt Bags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Ouverture_Spa</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesSalt_Bags</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Nombre_de_sacs_de_sel__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Salt_Bags_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Toile_Hiver</name>
        <label>Retrait Toile</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Salt_Bags</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesToile_Hiver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Retirer_toile__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Retrait_Toile_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vider_Laver</name>
        <label>Vider Laver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Retrait_Filet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesViderLaver</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Vider_Laver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Vider_Laver_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Water_Blades</name>
        <label>Water Blades</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Nage_Sur_Place</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesWater_Blades</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>asset.Nombre_de_lames_d_eau__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>asset.Nombre_de_lames_d_eau__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Water_Blades_Item</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ouverture Fermeture / Val Mar GetProducts_Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture Fermeture / Val Mar GetProducts_Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Ouverture</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Assign_Alimentations_supp_Item</name>
        <label>Assign Alimentations supp Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bassin_deversoir_fermeture</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <elementReference>asset.Nombre_alimentations_supplementaires__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35609</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Baisser_le_niveau_d_eau_Item</name>
        <label>Assign Baisser le niveau d&apos;eau Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pompe_Suplementaire</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetPrice</name>
            <value>
                <elementReference>asset.Prix_fermeture_SPA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>77440</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Bassin_deversoir_Item</name>
        <label>Assign Bassin deversoir Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fermeture_Spa</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35532</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Bassin_Deversoir_Ouverture_Item</name>
        <label>Assign Bassin Deversoir Ouverture Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Fermeture</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35541</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Fermeture_Item</name>
        <label>Assign Fermeture Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Baisser_le_niveau_d_eau</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetPrice</name>
            <value>
                <elementReference>asset.Prix_fermeture__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35538</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Fermeture_SPA_Item</name>
        <label>Assign Fermeture SPA Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetPrice</name>
            <value>
                <elementReference>asset.Prix_fermeture_SPA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35537</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Installation_Toile_Item</name>
        <label>Assign Installation Toile Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Nettoyer_Accutab</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35534</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Installer_Filet_Item</name>
        <label>Assign Installer Filet Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Installation_Toile</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35533</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Nage_Sur_Place_Item</name>
        <label>Assign Nage Sur Place Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Alimentations_supp</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35531</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Nettoyer_Accutab_Item</name>
        <label>Assign Nettoyer Accutab Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Water_Blades</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35535</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Ouverture_Item</name>
        <label>Assign Ouverture Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Vider_Laver</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetPrice</name>
            <value>
                <elementReference>asset.Prix_ouverture__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35539</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Ouverture_SPA_Item</name>
        <label>Assign Ouverture SPA Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bassin_Deversoir_ouverture</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetPrice</name>
            <value>
                <elementReference>asset.Prix_ouverture_SPA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35544</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Pompe_Sup_Item</name>
        <label>Assign Pompe Sup Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Installation_Filet</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <elementReference>asset.Nombre_pompes_supplementaires__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35530</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Retrait_Filet_Item</name>
        <label>Assign Retrait Filet Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Toile_Hiver</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35543</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Retrait_Toile_Item</name>
        <label>Assign Retrait Toile Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Salt_Bags</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35542</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Salt_Bags_Item</name>
        <label>Assign Salt Bags Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Ouverture_Spa</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <elementReference>asset.Nombre_de_sacs_de_sel__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>92327</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Vider_Laver_Item</name>
        <label>Assign Vider Laver Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Retrait_Filet</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>assetPrice</name>
            <value>
                <elementReference>asset.Prix_vider_laver__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35540</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Assign_Water_Blades_Item</name>
        <label>Assign Water Blades Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Nage_Sur_Place</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>asset</name>
            <value>
                <elementReference>asset</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>open_close</name>
            <value>
                <stringValue>Close</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>OrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pricebookEntries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <elementReference>asset.Nombre_de_lames_d_eau__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>77307</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>OrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>OrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>pricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
