force-app/main/default/flows/Ouverture_Fermeture_CaptureLateFeesSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Is_late_var</name>
        <label>Assign Is late var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isLate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assing_Is_late_var</name>
        <label>Assign Is late var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>isLate</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Late_Closing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Erro_Msg</name>
        <label>Erro Msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Late_Closing</name>
        <label>Late Closing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesClosingLate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Late_Fee_Config.Late_Date_Closing__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>openingClosing</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Opening</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Late_Closing_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Late_Opening</name>
        <label>Late Opening</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Late_Closing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesOpeningLate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Late_Fee_Config.Late_Date_Opening__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>openingClosing</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Late_Opening_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Late_Fee_Config</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Late_Opening</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ouverture Fermeture CaptureLateFeesSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture Fermeture CaptureLateFeesSubflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Late_Fee_Config</name>
        <label>Get Late Fee Config</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Erro_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contractType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>region</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Late_Fee_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Late_Fee_Config</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Late_Closing_Product</name>
        <label>Add Late Closing Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Is_late_var</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_AssignOrderProductsSubflow</flowName>
        <inputAssignments>
            <name>Contract_Terms</name>
            <value>
                <elementReference>Contract_Terms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Extras_Total_FullPrice</name>
            <value>
                <elementReference>Extras_Total_FullPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Extras_Total_Price</name>
            <value>
                <elementReference>Extras_Total_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>openingOrClosing</name>
            <value>
                <stringValue>Closing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrepareOrderItemsList</name>
            <value>
                <elementReference>PrepareOrderItemsList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>LateFeesPbe</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Extras_Total_FullPrice</assignToReference>
            <name>Extras_Total_FullPrice</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Extras_Total_Price</assignToReference>
            <name>Extras_Total_Price</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepareOrderItemsList</assignToReference>
            <name>PrepareOrderItemsList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Add_Late_Opening_Product</name>
        <label>Add Late Opening Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assing_Is_late_var</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_AssignOrderProductsSubflow</flowName>
        <inputAssignments>
            <name>Contract_Terms</name>
            <value>
                <elementReference>Contract_Terms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Extras_Total_FullPrice</name>
            <value>
                <elementReference>Extras_Total_FullPrice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Extras_Total_Price</name>
            <value>
                <elementReference>Extras_Total_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>openingOrClosing</name>
            <value>
                <stringValue>Opening</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrepareOrderItemsList</name>
            <value>
                <elementReference>PrepareOrderItemsList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>LateFeesPbe</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Extras_Total_FullPrice</assignToReference>
            <name>Extras_Total_FullPrice</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Extras_Total_Price</assignToReference>
            <name>Extras_Total_Price</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrepareOrderItemsList</assignToReference>
            <name>PrepareOrderItemsList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Contract_Terms</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>contractType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Extras_Total_FullPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Extras_Total_Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>isLate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LateFeesPbe</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>openingClosing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrepareOrderItemsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
