force-app/main/default/flows/Ouverture_Fermeture_CaptureTaxesSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_error</name>
        <label>Assign error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_NB</name>
        <label>Assign NB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>mdtKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Taxes_mdt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ON</name>
        <label>Assign ON</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>mdtKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>OHST</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Taxes_mdt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QC</name>
        <label>Assign QC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>mdtKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>QC</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Taxes_mdt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tax</name>
        <label>Assign Tax</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Tax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_Taxe_mdts.A__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Tax</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_Taxe_mdts.B__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_Taxe_mdts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_the_taxe</name>
        <label>Is the taxe ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>loop_through_Taxe_mdts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesTaxes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_Taxe_mdts.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>mdtKey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tax</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Map_Province_to_MDT_Key</name>
        <label>Map Province to MDT Key</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_QC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Province is QC</defaultConnectorLabel>
        <rules>
            <name>Province_is_ON</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ON</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ON</targetReference>
            </connector>
            <label>Province is ON</label>
        </rules>
        <rules>
            <name>Province_is_NB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_NB</targetReference>
            </connector>
            <label>Province is NB</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ouverture_Fermeture_CaptureTaxesSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture_Fermeture_CaptureTaxesSubflow</label>
    <loops>
        <name>loop_through_Taxe_mdts</name>
        <label>loop through Taxe mdts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Taxes_mdt</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_the_taxe</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Taxes_mdt</name>
        <label>Get Taxes mdt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_Taxe_mdts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_error</targetReference>
        </faultConnector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>tax_group_value__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Map_Province_to_MDT_Key</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>mdtKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>province</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Tax</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
