force-app/main/default/flows/Ouverture_Fermeture_RecordsCreationSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Assignment_Rule</name>
        <label>Case Assignment Rule</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CaseApplyAssignmentRule</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_In_Contract_Terms_Count</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cases</name>
            <value>
                <elementReference>Get_Case</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseApplyAssignmentRule</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_final_updated_order_item</name>
        <label>Add final updated order item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>FinalOrderItemsList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_OrderItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Id</name>
        <label>Assign Asset Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>assetId_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Asset</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Asset_Id2</name>
        <label>Assign Asset Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>assetId_Case</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>asset.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_msg</name>
        <label>Assign Error msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Order</name>
        <label>Assign Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>order</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Order_To_Pay</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign OrderId and ServiceDate. Also add OrderIds to OrderIdSet to use later</description>
        <name>Assign_OrderId</name>
        <label>Assign OrderId</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_OrderItems.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_In_Created_Orders.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OrderItems.Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Date_on_OrderProduct</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OrderItems.Ship_Track__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OrderItems.Description</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OrderItems.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for integration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OrderItems.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allOrdersId</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Loop_In_Created_Orders.Id}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_OrderItems.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_final_updated_order_item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Contract_Count</name>
        <label>Increment Contract Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ContractCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_In_Contract_Terms_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Count_for_ServiceDate</name>
        <label>Increment Count for ServiceDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderLoopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_In_Created_Orders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Id_to_be_paid</name>
        <label>Order Id to be paid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderIdToPay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_In_Created_Orders.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_create_Multiple_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Order_Collection</name>
        <label>Prepare Order Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Order_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Instance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_Contract_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Order_Record</name>
        <label>Prepare Order Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Order_Instance.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Case__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>orderRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.Address__City__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.Address__Street__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.Address__PostalCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.Address__StateCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.Address__CountryCode__s</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculated_Order_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>locationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Order_Creation_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.BillToContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Opening/Closing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.ContractType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ouverture et Fermeture</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Sage_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Salesperson_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>salespersonId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Asset__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Asset</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Opening_or_Closing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>openingOrClosing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Instance.Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>address.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Prepare_Order_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_Asset_Decision</name>
        <label>Create Asset?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Asset_Id2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCreateAsset</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createNewAsset</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Asset</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>To_be_paid</name>
        <label>To be paid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_to_create_Multiple_OrderItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>To_intervene</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_In_Created_Orders.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>To intervene</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Id_to_be_paid</targetReference>
            </connector>
            <label>To intervene</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Calculated_Order_Status</name>
        <dataType>String</dataType>
        <expression>IF(
{!Payment_Options}={!Paymentcomplete},
 &quot;To intervene&quot;,
 IF({!Loop_In_Contract_Terms_Count}=1,
&quot;To intervene&quot;,
&quot;Awaiting payment&quot;)
)</expression>
    </formulas>
    <formulas>
        <description>Formulate Region for Case from Selected Shipping Address
if address is Quebec &quot;Quebec Region&quot; if address is in Montreal or gatienau &quot;Montréal and Gatineau Regions&quot;</description>
        <name>Calculated_Region_for_Case</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!address.Region__c}, &quot;Québec&quot;), &quot;Quebec Region&quot;, &quot;Montréal and Gatineau Regions&quot;)</expression>
    </formulas>
    <formulas>
        <name>category</name>
        <dataType>String</dataType>
        <expression>    IF(
        OR(
            LOWER({!address.Address__City__s}) = &apos;quebec city&apos;,
            LOWER({!address.Address__City__s}) = &apos;quebec&apos;,
            LOWER({!address.Address__City__s}) = &apos;québec&apos;
        ),
        &apos;90093&apos;,
      &apos;90050&apos;
    )</expression>
    </formulas>
    <formulas>
        <name>Contract_Sage_Number</name>
        <dataType>String</dataType>
        <expression>IF(
{!ContractCount} &lt; 1 ,
{!Get_Case.CaseNumber} ,
{!Get_Case.CaseNumber} &amp; &apos;-&apos; &amp; TEXT({!ContractCount})
)</expression>
    </formulas>
    <formulas>
        <name>Paymentcomplete</name>
        <dataType>String</dataType>
        <expression>{!$Label.Payment_complete}</expression>
    </formulas>
    <formulas>
        <name>Service_Date_on_OrderProduct</name>
        <dataType>Date</dataType>
        <expression>IF({!Loop_OrderItems.Ship_Track__c} = &apos;Opening&apos;,
    IF({!luxurySelected}, 
        IF(TEXT({!Loop_OrderItems.Product2.Location__c}) = &apos;Luxury Service&apos;,
            IF({!Loop_to_create_Multiple_OrderItems}=2, 
                {!Selected_Open_Capacity_Date} + 364, 
                IF({!Loop_to_create_Multiple_OrderItems}=3, 
                    {!Selected_Open_Capacity_Date} + 728,  
                    {!Selected_Open_Capacity_Date} + (364 * {!OrderLoopCount}) 
                )
            ),
            IF({!Loop_to_create_Multiple_OrderItems}=2, 
                {!Selected_Open_Capacity_Date} + 364 + 7, 
                IF({!Loop_to_create_Multiple_OrderItems}=3, 
                    {!Selected_Open_Capacity_Date} + 728 + 7,  
                    {!Selected_Open_Capacity_Date} + (364 * {!OrderLoopCount}) + 7
                )
            )
        ),
        IF({!Loop_to_create_Multiple_OrderItems}=2, 
            {!Selected_Open_Capacity_Date} + 364, 
            IF({!Loop_to_create_Multiple_OrderItems}=3, 
                {!Selected_Open_Capacity_Date} + 728,  
                {!Selected_Open_Capacity_Date} + (364 * {!OrderLoopCount}) 
            )
        )
    ),
    IF({!Loop_to_create_Multiple_OrderItems}=2, 
        {!Selected_Close_Capacity_Date} + 364,  
        IF({!Loop_to_create_Multiple_OrderItems}=3, 
            {!Selected_Close_Capacity_Date} + 728,
            {!Selected_Close_Capacity_Date} + (364 * {!OrderLoopCount})
        )
    )
)</expression>
    </formulas>
    <interviewLabel>Ouverture Fermeture RecordsCreationSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture Fermeture RecordsCreationSubflow</label>
    <loops>
        <name>Loop_In_Contract_Terms_Count</name>
        <label>Loop In Contract Terms Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Contract_Terms_Count</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Prepare_Order_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Orders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_In_Created_Orders</name>
        <label>Loop Through Created Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Order_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>To_be_paid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop order items and assign order id</description>
        <name>Loop_OrderItems</name>
        <label>Loop OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>PrepareOrderItemsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_OrderId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_to_create_Multiple_OrderItems</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_create_Multiple_OrderItems</name>
        <label>Loop to create Multiple OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Count_for_Order_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_OrderItems</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Increment_Count_for_ServiceDate</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Asset_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>address.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>asset.Brand__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsInternal</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>asset.Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>asset.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>assetProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>asset.SerialNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size__c</field>
            <value>
                <elementReference>asset.Size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Year__c</field>
            <value>
                <elementReference>asset.Year__c</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <elementReference>assetId_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractType__c</field>
            <value>
                <elementReference>wtg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_purchase__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Portal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>Calculated_Region_for_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>contact.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Order_Products</name>
        <label>Create Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Tech_Field_on_Order</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <inputReference>FinalOrderItemsList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Orders</name>
        <label>Create Orders</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_In_Created_Orders</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <inputReference>Order_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Assignment_Rule</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opening_and_Winterizing</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_To_Pay</name>
        <label>Get Order To Pay</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Order</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderIdToPay</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Map_Order_On_Asset</name>
        <label>Map Order On Asset</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Order_Status</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Asset</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>OrderIdToPay</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_Status</name>
        <label>Update Order Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_To_Pay</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderIdToPay</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Awaiting payment</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tech_Field_on_Order</name>
        <label>Update Tech Field on Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Map_Order_On_Asset</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>allOrdersId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ALL_Order_Products_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Asset_Decision</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>address</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Address__c</objectType>
    </variables>
    <variables>
        <name>allOrdersId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetId_Case</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>assetProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contract_Terms_Count</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ContractCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Count_for_Order_Items</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>createNewAsset</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FinalOrderItemsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>locationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>luxurySelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>openingOrClosing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Order_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>Order_Instance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderIdToPay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderLoopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>orderRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Payment_Options</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrepareOrderItemsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salespersonId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Close_Capacity_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Contract</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Open_Capacity_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wtg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
