force-app/main/default/flows/Ouverture_Fermeture_CapacitiesSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Capacities</name>
        <label>Get Capacities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CapacityFinder</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Work_type_Product</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contractType</name>
            <value>
                <stringValue>Opening/Closing</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isSwimSpa</name>
            <value>
                <elementReference>isSwimSpa</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>region</name>
            <value>
                <elementReference>region</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>spaSize</name>
            <value>
                <elementReference>spaSize</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>weekEnd</name>
            <value>
                <elementReference>capacityDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>workType</name>
            <value>
                <elementReference>productsSet</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CapacityFinder</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>capacities</assignToReference>
            <name>availCapacities</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isBundle</assignToReference>
            <name>isBundle</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>capacitiesFound</assignToReference>
            <name>result</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>workType</assignToReference>
            <name>workType</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Pbe_to_Collection</name>
        <label>Add Pbe to Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pbeCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_WT_Pbe</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Product_Found</name>
        <label>Product Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_WT_Pbe</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ouverture Fermeture CapacitiesSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture Fermeture CapacitiesSubflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Work_type_Product</name>
        <label>Get Work type Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_WT_Pbe</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>workType.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_WT_Pbe</name>
        <label>Get WT Pbe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Pbe_to_Collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Work_type_Product.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Capacities</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Assign_Product</name>
        <label>Assign Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Ouverture_Fermeture_AssignOrderProductsSubflow</flowName>
        <inputAssignments>
            <name>isBundle</name>
            <value>
                <elementReference>isBundle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>openingOrClosing</name>
            <value>
                <elementReference>openingOrClosing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrepareOrderItemsList</name>
            <value>
                <elementReference>PrepareOrderItemsList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>pbeCollection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>unitPrice</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>PrepareOrderItemsList</assignToReference>
            <name>PrepareOrderItemsList</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>capacities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Capacity__c</objectType>
    </variables>
    <variables>
        <name>capacitiesFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>capacityDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isBundle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isSwimSpa</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>openingOrClosing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pbeCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>PrepareOrderItemsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>productsSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>spaSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>workType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkType</objectType>
    </variables>
</Flow>
