force-app/main/default/flows/Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OrderItemCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderItem</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Order_Item</name>
        <label>Assign Order Item</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>orderItem.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pbe.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pbe.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pbe.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.Ship_Track__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>open_close</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.Integration_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ready for integration</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.Sage_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pbe.Product2.Sage_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.IsBundle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>isBundle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_pbe</name>
        <label>Assign pbe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pbe</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pricebook_Entries</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Order_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Pbe</name>
        <label>Is Pbe/WorkType ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pricebook_Entries</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Pricebook_Entries.Product_Sage_Id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>sageId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isWorkType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_pbe</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isBundle</name>
        <dataType>Boolean</dataType>
        <expression>If({!isWorkType}, True,False)</expression>
    </formulas>
    <formulas>
        <name>price</name>
        <dataType>Currency</dataType>
        <expression>IF(
{!isWorkType} , 0 ,
 IF(
{!assetPrice} &lt;&gt; 0 , {!assetPrice} , {!pbe.UnitPrice}  )
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Ouverture Fermeture / Val Mar AssignProducts_Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture Fermeture / Val Mar AssignProducts_Subflow ( Temp )</label>
    <loops>
        <name>Pricebook_Entries</name>
        <label>Pricebook Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>pricebookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Pbe</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Order_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Pricebook_Entries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>asset</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>assetPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>isWorkType</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>open_close</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>pbe</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>quantity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>sageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
