force-app/main/default/flows/Ouverture_Fermeture_ProductPreselectionSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Pbes</name>
        <label>Assign Pbes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>selectedPbes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_over_all_pbes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_pbes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasHeatPump</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasHeater</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Yes_No_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>qtySaltBags</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_OrderItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>qtySupportBlocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_OrderItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasElectricHeater</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasHeater</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Yes_No_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasSolarHeater</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasHeater</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Yes_No_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasGazHeater</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>hasHeater</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Yes_No_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasSpiloverClosing</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasSpilloverOpening</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasLuxuaryService</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasWaterBlades</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>qtyWaterBlades</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_OrderItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OrderItems</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasSwimJetSystem</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quantity_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_assign_value</name>
        <label>assign value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>hasLaminarJets</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>qtyLaminarJets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_OrderItems.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_OrderItems</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filtred_Pbes</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtred Pbes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNextValueToReference>currentItem_Filtred_Pbes_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>allPricebookEntries</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Loop_Through_OrderItems</targetReference>
        </connector>
        <formula>AND(CONTAINS({!Product_Ids},{!currentItem_Filtred_Pbes.Product2Id}) , {!currentItem_Filtred_Pbes.Product_Type__c} &lt;&gt; &apos;Base&apos;)</formula>
    </collectionProcessors>
    <decisions>
        <name>Heaters</name>
        <label>Heaters</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Yes_No_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Heat_Pump</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Heat Pump</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_value</targetReference>
            </connector>
            <label>Heat Pump</label>
        </rules>
        <rules>
            <name>Solar_Heater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solar Heater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_assign_value</targetReference>
            </connector>
            <label>Solar Heater</label>
        </rules>
        <rules>
            <name>Electric_Heater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Electric Heater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_assign_value</targetReference>
            </connector>
            <label>Electric Heater</label>
        </rules>
        <rules>
            <name>Gaz_Heater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gaz Heater</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_assign_value</targetReference>
            </connector>
            <label>Gaz Heater</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quantity_Products</name>
        <label>Quantity Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_OrderItems</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Water_Blades</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water Blades</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_assign_value</targetReference>
            </connector>
            <label>Water Blades</label>
        </rules>
        <rules>
            <name>Laminar_Jets</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Laminar Jets</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_assign_value</targetReference>
            </connector>
            <label>Laminar Jets</label>
        </rules>
        <rules>
            <name>Salt_Bags</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salt Bags</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_assign_value</targetReference>
            </connector>
            <label>Salt Bags</label>
        </rules>
        <rules>
            <name>Support_Blocs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Support Blocs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_assign_value</targetReference>
            </connector>
            <label>Support Blocs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Pbe</name>
        <label>Select Pbe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_over_all_pbes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSelectPbe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Product_Ids</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_over_all_pbes.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pbes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Yes_No_Products</name>
        <label>Yes / No Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Quantity_Products</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Spillover_Closing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spillover Closing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_assign_value</targetReference>
            </connector>
            <label>Spillover Closing</label>
        </rules>
        <rules>
            <name>Spillover_Opening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spillover Opening</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_assign_value</targetReference>
            </connector>
            <label>Spillover Opening</label>
        </rules>
        <rules>
            <name>Luxury_Service</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Luxury Service</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_assign_value</targetReference>
            </connector>
            <label>Luxury Service</label>
        </rules>
        <rules>
            <name>Swim_Jet_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_OrderItems.Product2.Location__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swim Jet System</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_assign_value</targetReference>
            </connector>
            <label>Swim Jet System</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ouverture Fermeture ProductPreselectionSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture Fermeture ProductPreselectionSubflow</label>
    <loops>
        <name>Loop_over_all_pbes</name>
        <label>Loop over all pbes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>allPricebookEntries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Pbe</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Filtred_Pbes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_OrderItems</name>
        <label>Loop Through OrderItems</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Order_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Heaters</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Order_Products</name>
        <label>Get Order Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>order.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UnitPrice</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Products</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Product_Ids</name>
        <label>Product Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_over_all_pbes</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Order_Products[$EachItem].Product2Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>allPricebookEntries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Filtred_Pbes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Filtred_Pbes_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Gaz_Heater</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Ordered_Pbes</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>hasElectricHeater</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasGazHeater</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasHeater</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasHeatPump</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasLaminarJets</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasLuxuaryService</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasSolarHeater</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasSpilloverOpening</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasSpiloverClosing</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasSwimJetSystem</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>hasWaterBlades</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>qtyLaminarJets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>qtySaltBags</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>qtySupportBlocs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>qtyWaterBlades</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>selectedPbes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
