force-app/main/default/flows/Ouverture_Fermeture_BaseProductsSubflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Opening_and_Closing_Product_to_list</name>
        <label>Add Opening and Closing Product to list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pricebookEntriesOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Opening_Closing_Product</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_order_Item_to_list</name>
        <label>Add order Item to list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>openingAndClosingOrderItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>orderItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Pricebook_Entries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Opening_Closing_Product</name>
        <label>Prepare_Opening_Closing_Product</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Opening_Closing_Product.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Opening_and_Closing_Price</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Opening_Closing_Product.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Winterzing_and_Opening_product_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Opening_and_Closing_Product_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Summation_Open_and_Close_Price</name>
        <label>Summation Open and Close Price</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Opening_and_Closing_Price</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pricebook_Entries.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pricebookEntriesOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Pricebook_Entries</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>orderItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Pricebook_Entries.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_order_Item_to_list</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Ouverture_Fermeture_BaseProductsSubflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture_Fermeture_BaseProductsSubflow</label>
    <loops>
        <name>Loop_through_Pricebook_Entries</name>
        <label>Loop through Pricebook Entries</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>pricebookEntriesInput</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Summation_Open_and_Close_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Prepare_Opening_Closing_Product</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_Pricebook_Entries</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Base_Products_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>currentItem_filtredPricebookEntry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>currentItem_Small_swim_Spa_base_products_filter</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Opening_and_Closing_Price</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Opening_Closing_Product</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>openingAndClosingOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>orderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>pricebookEntriesInput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>pricebookEntriesOutput</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
