force-app/main/default/flows/Ouverture_Fermeture_Val_Mar_PriceCalculation_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_to_total</name>
        <label>add_to_total</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>total_order_price_ht</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>temp_price_calc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Items.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>temp_price_calc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Close</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_updated_list</name>
        <label>add to updated list</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>list_order_items_updated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Order_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Order_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_close_service_date</name>
        <label>assign_close_service_date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Order_Items.Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Fermeture</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Empty_Ship_Track</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_open_service_date</name>
        <label>assign_open_service_date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Order_Items.Service_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>serviceDateOpening</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Empty_Ship_Track</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_temp_calc</name>
        <label>assign_temp_calc</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>temp_unitprice_calc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>temp_quantity_calc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Order_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Ship_Track</name>
        <label>Empty Ship Track</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Order_Items.Ship_Track__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Order_Items.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>region_category</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_updated_list</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Open_Close</name>
        <label>Open Close</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Empty_Ship_Track</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Items.Ship_Track__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_open_service_date</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Close</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Items.Ship_Track__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_close_service_date</targetReference>
            </connector>
            <label>Close</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>serviceDateOpening</name>
        <dataType>Date</dataType>
        <expression>IF(
   {!viderLaverProduct},
   IF(
      CONTAINS({!Order_Items.Product2.Name}, &apos;Vider Laver&apos;),
      {!Date_Ouverture},
      {!Date_Ouverture} + 7
   ),
   {!Date_Ouverture}
)</expression>
    </formulas>
    <formulas>
        <name>temp_price_calc</name>
        <dataType>Currency</dataType>
        <expression>{!temp_unitprice_calc} * {!temp_quantity_calc}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Ouverture Fermeture / Val Mar PriceCalculation_Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture Fermeture / Val Mar PriceCalculation_Subflow</label>
    <loops>
        <name>Order_Items</name>
        <label>Order Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>orderItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_temp_calc</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Order_Items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Date_Fermeture</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Date_Ouverture</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>list_order_items_updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>orderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>region_category</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>temp_quantity_calc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>temp_unitprice_calc</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>total_order_price_ht</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>viderLaverProduct</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
