force-app/main/default/flows/Ouverture_Fermeture_Val_Mar_LateFees_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>add_pbe_to_collection</name>
        <label>add pbe to collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>lateFeesCollectionPbe</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Extra_Fees_Pricebook_Entry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Late_Opening</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Error_Msg</name>
        <label>Assign Error Msg</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Late_Closing</name>
        <label>Late Closing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesClosingLate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Late_Fee_Config.Late_Date_Closing__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>closingDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Closing_Late_Fees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Late_Opening</name>
        <label>Late Opening</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Late_Closing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesOpeningLate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Get_Late_Fee_Config.Late_Date_Opening__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>openingDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Opening_Late_Fees</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesRecordFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Late_Fee_Config</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Extra_Fees_Pricebook_Entry</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Ouverture Fermeture / Val Mar LateFees_Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ouverture Fermeture / Val Mar LateFees_Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Extra_Fees_Pricebook_Entry</name>
        <label>Get Extra Fees Pricebook Entry</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>add_pbe_to_collection</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Opening_Closing_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Late_Fee_Config</name>
        <label>Get Late Fees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error_Msg</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Val Mar</stringValue>
            </value>
        </filters>
        <filters>
            <field>Region__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>region</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Late_Fee_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Late_Fee_Config</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Add_Closing_Late_Fees</name>
        <label>Add Closing Late Fees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>allOrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>lateFeesCollectionPbe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35949</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>allOrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Add_Opening_Late_Fees</name>
        <label>Add Opening Late Fees</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Late_Closing</targetReference>
        </connector>
        <flowName>Ouverture_Fermeture_Val_Mar_AssignProducts_Subflow</flowName>
        <inputAssignments>
            <name>OrderItemCollection</name>
            <value>
                <elementReference>allOrderItems</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>pricebookEntries</name>
            <value>
                <elementReference>lateFeesCollectionPbe</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>quantity</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sageId</name>
            <value>
                <stringValue>35949</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>allOrderItems</assignToReference>
            <name>OrderItemCollection</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>allOrderItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>closingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>lateFeesCollectionPbe</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>openingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
