force-app/main/default/flows/Service_Appointment_Confirmation_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Group_Products</name>
        <label>Group Products</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ServiceAppointmentProductGrouper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Appointment_form</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen2</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>serviceAppId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ServiceAppointmentProductGrouper</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ConsolidatedProducts</assignToReference>
            <name>groupedOrderItems</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assing_Variables</name>
        <label>Assing Variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>formName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Type_Group_Member.Form_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Appointment.SchedStartTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>phoneNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Appointment.Contact_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>serviceAppId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Appointment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Form_Rules</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Backyard</name>
        <choiceText>{!$Label.Model_Backyard}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Backyard</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Communication_Preference_Email}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Garage</name>
        <choiceText>{!$Label.Model_Garage}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Garage</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>{!$Label.Question_No}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parking</name>
        <choiceText>{!$Label.Model_Parking}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parking</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>{!$Label.Communication_Preference_Phone}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceIcon>
            <iconName>utility:check</iconName>
        </choiceIcon>
        <choiceText>{!$Label.Question_Yes}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Form_Found</name>
        <label>Form Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Invalid_Appointment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Quebec_Montreal</name>
            <conditionLogic>((1 OR 2 OR 3) AND 4) OR ((5 OR 6 ) AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Woli.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quebec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Woli.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Québec</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Woli.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>QC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ruleConditionsQc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Woli.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montréal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Woli.Region__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Montreal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ruleConditionsMtl</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Products_Summary</targetReference>
            </connector>
            <label>Quebec/Montreal</label>
        </rules>
    </decisions>
    <decisions>
        <name>FormName_is_null</name>
        <label>FormName is null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assing_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yesFormIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Work_Type_Group_Member.Form_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invalid_Appointment</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Products_Summary</name>
        <label>Products Summary Needed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Appointment_form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesSumNeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>showSummaryContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Group_Products</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error_Updating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Update_Service_Appointment.flowErrorMessage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Update_Service_Appointment.flowErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Action_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>abAcAccessText</name>
        <dataType>String</dataType>
        <expression>IF({!formName} = &apos;Livraison_Abris&apos; , {!$Label.AB_Access_Text} , {!$Label.AC_Access_Text})</expression>
    </formulas>
    <formulas>
        <name>Appointment_Confirmation_Header</name>
        <dataType>String</dataType>
        <expression>IF(OR( {!formName} = &apos;Service_Call &apos; ,  {!formName} = &apos;CR_Mise_En_Marche &apos; ) , {!$Label.Appointment_Confirmation_Header} ,{!$Label.Appointment_Confirmation_Header_SPA})</expression>
    </formulas>
    <formulas>
        <name>confirmationButtonDisabled</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!isCorrectAddress} = {!No} , {!Contract_Summary_Confirm_Question} = {!No} )</expression>
    </formulas>
    <formulas>
        <name>confirmationMessage</name>
        <dataType>String</dataType>
        <expression>IF(
{!actionButtons.actionName} = &apos;Confirm&apos;,
&apos;&apos; ,
 {!$Label.Cancel_Message} 
)</expression>
    </formulas>
    <formulas>
        <name>confirmationSubtitle</name>
        <dataType>String</dataType>
        <expression>IF(
{!actionButtons.actionName} = &apos;Confirm&apos;,
{!$Label.Confirm_Subtitle} ,
 {!$Label.Cancel_Subtitle} 
)</expression>
    </formulas>
    <formulas>
        <name>confirmationTitle</name>
        <dataType>String</dataType>
        <expression>IF(
{!actionButtons.actionName} = &apos;Confirm&apos;,
{!$Label.confirm_Titlle} ,
 {!$Label.Cancel_Title} 
)</expression>
    </formulas>
    <formulas>
        <name>currentPhoneNote</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.Delivery_Confirmation_Current_Phone}, &apos;{Phone}&apos;, {!Service_Appointment.Account.Phone})</expression>
    </formulas>
    <formulas>
        <name>deliveryNotes</name>
        <dataType>String</dataType>
        <expression>IF(
{!formName} = &apos;&apos;, {!$Label.Delivery_Confirmation_Note_HT} , &apos;&apos;

)</expression>
    </formulas>
    <formulas>
        <name>exactPhoneNumber</name>
        <dataType>String</dataType>
        <expression>{!$Label.Telephone_Exacte}  &amp;  {!phoneNumber}</expression>
    </formulas>
    <formulas>
        <name>fermeture_Terms_Form</name>
        <dataType>String</dataType>
        <expression>IF({!formName} = &apos;Fermeture&apos;,{!$Label.Fermeture_Terms_Form},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>responses</name>
        <dataType>String</dataType>
        <expression>IF({!isCorrectAddress} != null , {!$Label.Is_Correct_Address_Question} + &quot;  :   &quot; + {!isCorrectAddress} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!isCorrectAddress} = {!No}, {!AddressCommentPlaceholder} + &quot;&lt;br&gt;&quot;, &quot;&quot;) +

IF({!Contract_Summary_Confirm_Question} != null , {!$Label.Contract_Summary_Confirm_Question} + &quot;  :   &quot; + {!Contract_Summary_Confirm_Question} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Contract_Summary_Confirm_Question} = {!No}, {!ContractSummaryCommentPlaceholder} + &quot;&lt;br&gt;&quot;, &quot;&quot;) +

IF({!Telephone_Exacte} != null , {!exactPhoneNumber} + &quot;  :   &quot; + {!Telephone_Exacte} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Communication_Preference_Picklist} != null , {!$Label.Communication_Preference_Question} + &quot;  :   &quot; + {!Communication_Preference_Picklist} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Model_Question} != null , {!$Label.Model_Question} + &quot;  :   &quot; + {!Model_Question} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Model_Access_Answer} != null , {!$Label.Access_Fits} + &quot;  :   &quot; + {!Model_Access_Answer} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!AC_Access_Placeholder} != null , {!$Label.AC_Access_Placeholder} + &quot;  :   &quot; + {!AC_Access_Placeholder} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Livraison_HL_Endroit} != null , {!$Label.Livraison_HL_Endroit} + &quot;  :   &quot; + {!Livraison_HL_Endroit} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Livraison_HL_Gazon} != null , {!$Label.Livraison_HL_Gazon} + &quot;  :   &quot; + {!Livraison_HL_Gazon} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Livraison_HL_Remplacement} != null , {!$Label.Livraison_HL_Remplacement} + &quot;  :   &quot; + {!Livraison_HL_Remplacement} + &quot;&lt;br&gt;&quot; , &quot;&quot; )
 +

IF({!Livraison_HL_GrandeurPiscine} != null , {!$Label.Livraison_HL_GrandeurPiscine} + &quot;  :   &quot; + {!Livraison_HL_GrandeurPiscine} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Livraison_HL_Piscine_demontee} != null , {!$Label.Livraison_HL_Piscine_demontee} + &quot;  :   &quot; + {!Livraison_HL_Piscine_demontee} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Livraison_HL_Meme_Endroit} != null , {!$Label.Livraison_HL_Meme_Endroit} + &quot;  :   &quot; + {!Livraison_HL_Meme_Endroit} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Livraison_HL_Terrain_Droit} != null , {!$Label.Livraison_HL_Terrain_Droit} + &quot;  :   &quot; + {!Livraison_HL_Terrain_Droit} + &quot;&lt;br&gt;&quot; , &quot;&quot; )

 +

IF({!Livraison_HL_Denevele} != null , {!$Label.Livraison_HL_Denevele} + &quot;  :   &quot; + {!Livraison_HL_Denevele} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +


IF({!Livraison_HL_Obstacle} != null , {!$Label.Livraison_HL_Obstacle} + &quot;  :   &quot; + {!Livraison_HL_Obstacle} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +


IF({!Access_Fits} != null , {!$Label.Access_Fits} + &quot;  :   &quot; + {!Access_Fits} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Access_Fits_MB} != null , {!$Label.Access_Fits} + &quot;  :   &quot; + {!Access_Fits_MB} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!Appointment_Cancelling_Reason} != null , {!$Label.Appointment_Cancelling_Reason} + &quot;  :   &quot; + {!Appointment_Cancelling_Reason} + &quot;&lt;br&gt;&quot; , &quot;&quot; ) +

IF({!To_Be_Contacted} , {!$Label.Delivery_Confirmation_To_be_contacted},&quot;&quot;) +

IF({!Delivery_Confirmation_Change_Phone} != null , {!$Label.new_phone_number} + &quot;  :   &quot; + {!Delivery_Confirmation_Change_Phone} + &quot;&lt;br&gt;&quot; , &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>ruleConditionsMtl</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    ISBLANK({!formRule.Montreal_Expiration_Days__c}),
    TRUE,
    IF(
        ISBLANK({!formRule.Expiration_Time_Montreal__c}),
        TODAY() &lt;= (DATEVALUE({!Service_Appointment.SchedStartTime}) - {!formRule.Montreal_Expiration_Days__c}),
        IF(
            TODAY() = (DATEVALUE({!Service_Appointment.SchedStartTime}) - {!formRule.Montreal_Expiration_Days__c}),
             {!timeNow} &lt;= {!formRule.Expiration_Time_Montreal__c},
            TODAY() &lt; (DATEVALUE({!Service_Appointment.SchedStartTime}) - {!formRule.Montreal_Expiration_Days__c})
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>ruleConditionsQc</name>
        <dataType>Boolean</dataType>
        <expression>IF(
    ISBLANK({!formRule.Quebec_Expiration_Days__c}),
    TRUE,
    IF(
        ISBLANK({!formRule.Expiration_Time_Quebec__c}),
        TODAY() &lt;= (DATEVALUE({!Service_Appointment.SchedStartTime}) - {!formRule.Quebec_Expiration_Days__c}),
        IF(
            TODAY() = (DATEVALUE({!Service_Appointment.SchedStartTime}) - {!formRule.Quebec_Expiration_Days__c}),
             {!timeNow} &lt;= {!formRule.Expiration_Time_Quebec__c},
            TODAY() &lt; (DATEVALUE({!Service_Appointment.SchedStartTime}) - {!formRule.Quebec_Expiration_Days__c})
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>showAcAbAccess</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;RC&apos;,
{!formName} = &apos;AC_RB&apos;,
{!formName} = &apos;Livraison_Abris&apos;
)</expression>
    </formulas>
    <formulas>
        <name>showAcAutre</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;RC_Autre&apos;,
{!formName} = &apos;AC_RB_Autre&apos;
)</expression>
    </formulas>
    <formulas>
        <name>showAddress</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;HT_HL_SC&apos;,
{!formName} = &apos;SC_Industria&apos;,
{!formName} = &apos;CR_HA&apos;,
{!formName} = &apos;RC&apos;,
{!formName} = &apos;AC_RB&apos;,
{!formName} = &apos;RC_PriseDeMesure&apos;,
{!formName} = &apos;AC_RB_PriseDeMesure&apos;,
{!formName} = &apos;RC_Autre&apos;,
{!formName} = &apos;AC_RB_Autre&apos;,
{!formName} = &apos;Livraison_Abris&apos;,
{!formName} = &apos;Installation_HT_HL&apos;,
{!formName} = &apos;Meuble_MB&apos;,
{!formName} = &apos;Ouverture&apos;,
{!formName} = &apos;Fermeture&apos;
)</expression>
    </formulas>
    <formulas>
        <name>showCummunicationPreferences</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;CR_HA&apos;
)</expression>
    </formulas>
    <formulas>
        <name>showDeliveryConfirmation</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;HT_HL_SC&apos;,
{!formName} = &apos;SC_Industria&apos;,
{!formName} = &apos;CR_HA&apos;,
{!formName} = &apos;RC&apos;,
{!formName} = &apos;AC_RB&apos;,
{!formName} = &apos;RC_PriseDeMesure&apos;,
{!formName} = &apos;AC_RB_PriseDeMesure&apos;,
{!formName} = &apos;RC_Autre&apos;,
{!formName} = &apos;AC_RB_Autre&apos;,
{!formName} = &apos;Livraison_Abris&apos;,
{!formName} = &apos;Meuble_MB&apos;,
{!formName} = &apos;Meuble_Autre&apos;
)</expression>
    </formulas>
    <formulas>
        <name>showHLnotes</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;Installation_HT_HL&apos;
)</expression>
    </formulas>
    <formulas>
        <name>showImportantInformation</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;CR_HA&apos;
)</expression>
    </formulas>
    <formulas>
        <name>showMbAutreNote</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;Meuble_Autre&apos; 
)</expression>
    </formulas>
    <formulas>
        <name>showMbNote</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;Meuble_MB&apos; 
)</expression>
    </formulas>
    <formulas>
        <name>showModel</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;HT_HL_SC&apos;,
{!formName} = &apos;SC_Industria&apos;,
{!formName} = &apos;Meuble_MB&apos; 
)</expression>
    </formulas>
    <formulas>
        <name>showOuvertureFermeture</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;Ouverture&apos;,
{!formName} = &apos;Fermeture&apos; 
)</expression>
    </formulas>
    <formulas>
        <name>showPayment</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;CR_HA&apos; 
)</expression>
    </formulas>
    <formulas>
        <name>showServiceCallCancellation</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;CR_Mise_En_Marche&apos;,
{!formName} = &apos;Service_Call&apos;,
{!formName} = &apos;Ouverture&apos;,
{!formName} = &apos;Fermeture&apos;
)</expression>
    </formulas>
    <formulas>
        <name>showServiceCallConfirmation</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;CR_Mise_En_Marche&apos;,
{!formName} = &apos;Service_Call&apos;,
{!formName} = &apos;Ouverture&apos;,
{!formName} = &apos;Fermeture&apos; 
)</expression>
    </formulas>
    <formulas>
        <name>showSummaryContract</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!formName} = &apos;HT_HL_SC&apos;,
{!formName} = &apos;SC_Industria&apos;,
{!formName} = &apos;CR_HA&apos;,
{!formName} = &apos;RC&apos;,
{!formName} = &apos;AC_RB&apos;,
{!formName} = &apos;RC_PriseDeMesure&apos;,
{!formName} = &apos;AC_RB_PriseDeMesure&apos;,
{!formName} = &apos;RC_Autre&apos;,
{!formName} = &apos;AC_RB_Autre&apos;,
{!formName} = &apos;Livraison_Abris&apos;,
{!formName} = &apos;Installation_HT_HL&apos;,
{!formName} = &apos;Meuble_MB&apos; 
)</expression>
    </formulas>
    <formulas>
        <name>timeNow</name>
        <dataType>Time</dataType>
        <expression>IF(MONTH(TODAY()) &gt;= 3 &amp;&amp; MONTH(TODAY()) &lt;= 11,
TIMENOW() - 14400000,
TIMENOW() - 18000000 
)</expression>
    </formulas>
    <formulas>
        <name>updateStatus</name>
        <dataType>String</dataType>
        <expression>IF(
{!actionButtons.actionName} = &apos;Confirm&apos;,
&apos;Confirmed&apos; ,
 &apos;Refused by costumer&apos; 
)</expression>
    </formulas>
    <interviewLabel>Service Appointment Confirmation Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Service Appointment Confirmation Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Form_Rules</name>
        <label>Get Form Rules</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Form_Found</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Service_Appointment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>status</elementReference>
            </value>
        </filters>
        <object>ServiceAppointmentFormRule__c</object>
        <outputReference>formRule</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Expiration_Time_Quebec__c</queriedFields>
        <queriedFields>Expiration_Time_Montreal__c</queriedFields>
        <queriedFields>Quebec_Expiration_Days__c</queriedFields>
        <queriedFields>Montreal_Expiration_Days__c</queriedFields>
        <queriedFields>Service_Appointment_Status__c</queriedFields>
        <queriedFields>Email_Template_Name_Mtl__c</queriedFields>
        <queriedFields>Email_Template_Name_Qc__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Woli</name>
        <label>Get Woli</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Work_Type_Group_Member</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Appointment.ParentRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrderLineItem</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>WorkTypeId</queriedFields>
        <queriedFields>ContractType__c</queriedFields>
        <queriedFields>OrderId</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Service_Appointment</name>
        <label>Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Woli</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Faulty_Screen2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>External_Reference__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>serviceAppExternalId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>status</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceAppointment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ParentRecordId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Street</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>SchedStartTime</queriedFields>
        <queriedFields>Contact_Phone__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Work_Type_Group_Member</name>
        <label>Work Type Group Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FormName_is_null</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Faulty_Screen2</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContractType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Woli.ContractType__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>WorkTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Woli.WorkTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkTypeGroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Form_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Appointment_form</name>
        <label>Appointment form</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Service_Appointment</targetReference>
        </connector>
        <fields>
            <name>confirmationFormsTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!$Label.confirmationFormsTitle}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Appointment_form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Confirmation_Header_Label</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>Appointment_Confirmation_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Confirmation_Text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;{!$Label.Rdv}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;NAME TO BE DETERMINED&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!$Label.Appointment_Date} &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!serviceDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showServiceCallConfirmation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Address_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AddressSubtitle</name>
                    <fieldText>&lt;p&gt;{!$Label.Address_Subtitle}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Service_Appointment.Street} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Service_Appointment.City} , &lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Service_Appointment.State}&lt;/p&gt;&lt;p&gt;{!Service_Appointment.PostalCode}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>isCorrectAddress</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Is_Correct_Address_Question}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AddressCommentPlaceholder</name>
                    <fieldText>{!$Label.Address_Input_Placeholder}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>isCorrectAddress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showAddress</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Telephone_Exacte</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!exactPhoneNumber}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Ouverture_Fermeture_Terms</name>
                    <fieldText>&lt;p&gt;{!$Label.Ouverture_Terms_Form}&lt;/p&gt;&lt;p&gt;{!fermeture_Terms_Form}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showOuvertureFermeture</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Appointment_Cancelling_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Appointment_Cancelling_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Appointment_Cancelling_Text</name>
                    <fieldText>&lt;p&gt;{!$Label.Appointment_Cancelling_Text}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Appointment_Cancelling_Reason</name>
                    <fieldText>{!$Label.Appointment_Cancelling_Reason}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showServiceCallCancellation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Summary_Contract_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Summary_Contract_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>emtySpace</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Product_Summary</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>OrderItem</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Data Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>ConsolidatedProducts</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Return_Location__c&quot;,&quot;guid&quot;:&quot;column-f6be&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Service_Appointment_Product_Code}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Return Location&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description&quot;,&quot;guid&quot;:&quot;column-8829&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Service_Appointment_Product_Name}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Line Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Serial__c&quot;,&quot;guid&quot;:&quot;column-c6aa&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Appointment_Confirmation_Serial}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Serial&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Quantity&quot;,&quot;guid&quot;:&quot;column-c82c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;{!$Label.Appointment_Confirmation_Quatity}&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Quantity&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Contract_Summary_Confirm_Question</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Contract_Summary_Confirm_Question}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ContractSummaryCommentPlaceholder</name>
                    <fieldText>{!$Label.Address_Input_Placeholder}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Contract_Summary_Confirm_Question</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showSummaryContract</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Communication_Preference_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Communication_Preference_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Communication_Preference_Picklist</name>
                    <choiceReferences>Email</choiceReferences>
                    <choiceReferences>Phone</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Communication_Preference_Question}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showCummunicationPreferences</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Important_Information_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Important_Information_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Importnat_Information</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.important_Information_DeliveryDate} {!deliveryDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.important_Information_InstallationDate} {!installationDate}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Important_Information_extraDetailsDescription}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Important_Information_requirementsListLabel}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;{!$Label.Important_Information_Requirement1}&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement2}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement3}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement4}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement5}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement6}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Important_Information_Requirement7}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;{!$Label.Important_Information_NoteLabel}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Important_Information_NoteDescription}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Important_Information_NextStepDescription}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showImportantInformation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Payment_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Payment_Details</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.Payment_Details}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showPayment</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Model_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Model_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Model_Question</name>
                    <choiceReferences>Garage</choiceReferences>
                    <choiceReferences>Parking</choiceReferences>
                    <choiceReferences>Backyard</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Model_Question}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Model_Access</name>
                    <fieldText>&lt;p&gt;{!$Label.Model_Access}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Model_Question</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Backyard</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Model_Access_Answer</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Access_Fits}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Model_Question</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Backyard</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Model_AccessNote</name>
                    <fieldText>&lt;p&gt;{!$Label.Model_AccessNote}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Model_Access_Answer</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showModel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AC_access</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.AC_Access_Title</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Ac_Access_Info</name>
                    <fieldText>&lt;p&gt;{!abAcAccessText}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AC_Access_Placeholder</name>
                    <fieldText>{!$Label.AC_Access_Placeholder}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showAcAbAccess</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AC_Autre_Title</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.AC_Autre_Title</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AC_Autre_Text</name>
                    <fieldText>&lt;p&gt;{!$Label.AC_Autre_Text}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showAcAutre</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Livraison_HL_Endroit</name>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Livraison_HL_Endroit}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Livraison_HL_Gazon</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Livraison_HL_Gazon}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Livraison_HL_Remplacement</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Livraison_HL_Remplacement}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Livraison_HL_GrandeurPiscine</name>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Livraison_HL_GrandeurPiscine}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>3</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Livraison_HL_Remplacement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Livraison_HL_Piscine_demontee</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Livraison_HL_Piscine_demontee}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Livraison_HL_Meme_Endroit</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Livraison_HL_Meme_Endroit}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Livraison_HL_Terrain_Droit</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Livraison_HL_Terrain_Droit}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Livraison_HL_Denevele</name>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Livraison_HL_Denevele}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>3</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Livraison_HL_Terrain_Droit</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Livraison_HL_Obstacle</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Livraison_HL_Obstacle}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Livraison_HL_Acces_rue_Text</name>
                    <fieldText>&lt;p&gt;{!$Label.&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Livraison_HL_Acces_rue_Text&lt;/span&gt;}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Access_Fits</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Access_Fits}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>HL_AccessNote</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Model_AccessNote}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Access_Fits</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Livraison_HL_Note</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!$Label.&lt;/span&gt;Livraison_HL_Note&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;} &lt;/span&gt;{!serviceDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showHLnotes</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Meuble_Livraison_Text</name>
                    <fieldText>&lt;p&gt;{!$Label.Meuble_Livraison_Text}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Access_Fits_MB</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Access_Fits}</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Inscrire_details</name>
                    <fieldText>{!$Label.Inscrire_details}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Access_Fits_MB</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showMbNote</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MB_Autre_Title</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.AC_Autre_Title</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>MB_Autre_Text</name>
                    <fieldText>&lt;p&gt;{!$Label.MB_Autre_Text}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showMbAutreNote</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Appointment_form_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Appointment_form_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Delivery_Confirmation_Header</name>
                    <extensionName>c:serviceAppointmentFormBanner</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>text</name>
                        <value>
                            <elementReference>$Label.Delivery_Confirmation_Header</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>DeliveryConfirmationNotes</name>
                    <fieldText>&lt;p&gt;{!deliveryNotes}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>To_Be_Contacted</name>
                    <dataType>Boolean</dataType>
                    <fieldText>{!$Label.Delivery_Confirmation_To_be_contacted}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PhoneNotes</name>
                    <fieldText>&lt;p&gt;{!$Label.Delivery_Confirmation_Current_Phone} {!phoneNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Delivery_Confirmation_Change_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.Delivery_Confirmation_Change_Phone}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>4</stringValue>
                        </width>
                    </styleProperties>
                    <validationRule>
                        <errorMessage>&lt;p&gt;{!$Label.mobile_phone_pattern}&lt;/p&gt;</errorMessage>
                        <formulaExpression>OR(
   ISBLANK({!Delivery_Confirmation_Change_Phone}),
   REGEX({!Delivery_Confirmation_Change_Phone}, &quot;^[0-9]{10}$&quot;)
)</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>showDeliveryConfirmation</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>actionButtons</name>
            <extensionName>c:serviceAppointmentFormNavigation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isButtonDisabled</name>
                <value>
                    <elementReference>confirmationButtonDisabled</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Updating</name>
        <label>Error Updating</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Redirect_url</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_invalid</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>invalid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>2cm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Copy_1_of_invalidLinkMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Update_Service_Appointment.flowErrorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Faulty_Screen2</name>
        <label>Faulty Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirect_url</targetReference>
        </connector>
        <fields>
            <name>invalid2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>invalid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>2cm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>errorMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Invalid_Appointment</name>
        <label>Invalid Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Redirect_url</targetReference>
        </connector>
        <fields>
            <name>invalid</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>invalid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>2cm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>invalidLinkMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.Invalid_Link_Title}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.Invalid_Link_Subtitle}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Post_Action_Screen</name>
        <label>Post Action Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Redirect_url</targetReference>
        </connector>
        <fields>
            <name>Check</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>valid</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>2cm</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Title</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!confirmationTitle}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Confirmation_Msg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;{!confirmationSubtitle}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;{!confirmationMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Redirect_url</name>
        <label>Redirect url</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>flowRedirection</name>
            <extensionName>c:flowRedirectingComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>urlRedirection</name>
                <value>
                    <stringValue>Trevi_website</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_Appointment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Service_Appointment</name>
        <label>Update Service Appointment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <flowName>Service_Appointment_Confirmation_Form_ActionSubflow</flowName>
        <inputAssignments>
            <name>response</name>
            <value>
                <elementReference>responses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>serviceAppointmentId</name>
            <value>
                <elementReference>serviceAppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>status</name>
            <value>
                <elementReference>updateStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>woli</name>
            <value>
                <elementReference>Get_Woli.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CollectionIndex</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ConsolidatedProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>currentItem_Check_Form_MTL</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointmentFormRule__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_form</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointmentFormRule__c</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>CurrentProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>deliveryDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>formRule</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointmentFormRule__c</objectType>
    </variables>
    <variables>
        <name>installationDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lwcHeaderOn</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>orderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>orderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>phoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>qty</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>serviceAppExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceAppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>serviceDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Waiting for customer confirmation</stringValue>
        </value>
    </variables>
    <variables>
        <name>summaryProductCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>UpdatedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>workTypeCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>wtg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
