force-app/main/default/flows/Shopify_Refund.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>remboursement@trevi.ca</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply-service@trevi.ca</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Le remboursement pour la commande {!Get_Order.Order_Number__c}, pour le client &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Order.Account_Sage_ID__c}&lt;/span&gt; a échoué.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!orderUrl}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Cliquez ici&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; pour accéder à l’enregistrement dans Salesforce. &lt;/span&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Success</name>
        <label>Success / Failure</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Didn&apos;t go through</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Launch_Refund.response.refundx5fstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Launch_Refund.response.refundx5fstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>Failure</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>amountDueAbs</name>
        <dataType>Currency</dataType>
        <expression>ABS({!Get_Order.Amount_Due__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>orderUrl</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(LEFT({!$Api.Partner_Server_URL_620}, FIND(&apos;/services&apos;, {!$Api.Partner_Server_URL_620}) - 1), &apos;my.salesforce.com&apos;, &apos;lightning.force.com&apos;)&amp; &apos;/lightning/r/Order/&apos;&amp;{!Get_Order.Id}&amp;&apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Shopify - Refund {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Shopify - Refund</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Order</name>
        <label>Get Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Amount_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Refund_Approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>Amount_Screen</name>
        <label>Amount Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Launch_Refund</targetReference>
        </connector>
        <fields>
            <name>refund_amount</name>
            <dataType>Currency</dataType>
            <fieldText>{!$Label.refund_amount}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>2</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;{!$Label.refund_amount_validation_message} {!amountDueAbs}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND( {!refund_amount} &lt;= {!amountDueAbs} ,  {!refund_amount}  &gt; 0 )</formulaExpression>
            </validationRule>
        </fields>
        <nextOrFinishButtonLabel>Launch Refund</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Refund_failed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.integration_error} &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Fail Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Refund_failed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;{!$Label.Refund_failed}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Order</targetReference>
        </connector>
        <fields>
            <name>Refund_processed</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(30, 167, 58);&quot;&gt;{!$Label.Refund_processed}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <subflows>
        <name>Launch_Refund</name>
        <label>Launch Refund</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <flowName>Shopify_Payment_API</flowName>
        <inputAssignments>
            <name>order</name>
            <value>
                <elementReference>Get_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>paymentType</name>
            <value>
                <stringValue>Null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>refundAmount</name>
            <value>
                <elementReference>refund_amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>sendEmail</name>
            <value>
                <stringValue>FALSE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>successStatus</name>
            <value>
                <stringValue>Null</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>transactionType</name>
            <value>
                <stringValue>Refund</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Le remboursement pour la commande {!Get_Order.Order_Number__c}, pour le client &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Order.Account_Sage_ID__c}&lt;/span&gt; a échoué.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;/lightning/r/Order/{!Get_Order.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Cliquez ici&lt;/a&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; pour accéder à l’enregistrement dans Salesforce. &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Remboursement échoué sur {!Get_Order.Order_Number__c}  pour {!Get_Order.Account_Sage_ID__c}</text>
    </textTemplates>
    <textTemplates>
        <name>vdqs</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;vqds&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
